In [682]:
import numpy as np
import pandas as pd

**Task 1 : Personalized Menu Recommendation**
Create a machine learning model that recommends personalized menus for users based on their user IDs. You will be provided with a dataset containing user behaviors and preferences. Your goal is to develop a recommendation system that can suggest menus that align with the user's past interactions and preferences.

*Given customer ID and some filter, the model should return a list of menus that are most likely to be ordered by the customer.*

**Task  2 : Customer Segmentation**
Build a machine learning model to segment customers based on the entire dataset. The dataset includes various features related to customer behaviors, demographics, and interactions. Your task is to develop a segmentation model that can categorize customers into meaningful segments based on their similarities.

Once you have identified customer segments, your challenge extends to recommending appropriate treatments for each segment. These treatments could include menu recommendations, special vouchers for specific brands, or tailored promotional campaigns. Your ability to translate segmentation insights into actionable recommendations will be a crucial aspect of this task.

In [683]:
# See Sales for detail
NOW = pd.Timestamp(2023,4,1)

# EDA

In [684]:
df = (
    pd.read_csv('data/data.csv')
    # .assign(
    #     trx_date=lambda x: pd.to_datetime(x['trx_date']),
    #     trx_date_detail=lambda x: pd.to_datetime(x['trx_date_detail']),
    # )
)

df

,trx_date,trx_date_detail,sales_id,concept,brand,outlet,district,city,menu_id,menu_type,menu_category,menu_category_detail,menu_name,quantity,user_id,user_created_at,user_tier_level,user_gender
0,2023-01-04,2023-01-04 20:26:46 UTC,02d6de17-9ca4-480f-b13c-7336dccd64b9,Lifestyle,A/A,"Apothecary, Gunawarman",Kebayoran Baru,Jakarta Selatan,5204e17e-aefb-4235-8eb8-7177a5679352,Ala Carte,FOOD,APPETIZERS,French Fries,1.0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F
1,2023-01-04,2023-01-04 20:26:46 UTC,02d6de17-9ca4-480f-b13c-7336dccd64b9,Lifestyle,A/A,"Apothecary, Gunawarman",Kebayoran Baru,Jakarta Selatan,1420bcef-ac34-4967-b5e0-4a2942f222a4,Package Content,BEVERAGE,BEVERAGE MODIFIER,Single,1.0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F
2,2023-01-04,2023-01-04 20:26:46 UTC,02d6de17-9ca4-480f-b13c-7336dccd64b9,Lifestyle,A/A,"Apothecary, Gunawarman",Kebayoran Baru,Jakarta Selatan,1420bcef-ac34-4967-b5e0-4a2942f222a4,Package Content,BEVERAGE,BEVERAGE MODIFIER,Single,1.0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F
3,2023-01-04,2023-01-04 20:26:46 UTC,02d6de17-9ca4-480f-b13c-7336dccd64b9,Lifestyle,A/A,"Apothecary, Gunawarman",Kebayoran Baru,Jakarta Selatan,77bb78c6-2f51-4f61-9d74-02d69388cef1,Package Content,BEVERAGE,BEVERAGE MODIFIER,Coca Cola,1.0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F
4,2023-01-04,2023-01-04 20:26:46 UTC,02d6de17-9ca4-480f-b13c-7336dccd64b9,Lifestyle,A/A,"Apothecary, Gunawarman",Kebayoran Baru,Jakarta Selatan,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Package Content,LIQUEUR,WHISK(E)Y,Monkey Shoulder_Double,1.0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26799,2023-01-01,2023-01-01 21:46:16 UTC,85d9a596-8307-4078-a4d5-debdef0f31c0,Resto,TPC,"TPC, Summarecon Mall Serpong",Kelapa Dua,"Tangerang, Kab.",23584c04-c6ae-4118-94a9-f248e3a58b00,Ala Carte,FOOD,DESSERT,Brownies&Cream,1.0,0b826949-4772-4de9-8144-1d9beceb7481,2021-04-22 13:54:06,Basic,F
26800,2023-01-01,2023-01-01 21:46:16 UTC,85d9a596-8307-4078-a4d5-debdef0f31c0,Resto,TPC,"TPC, Summarecon Mall Serpong",Kelapa Dua,"Tangerang, Kab.",b69907d0-a325-4b5a-bb48-2bb6abbae51a,Package Content,FOOD,FOOD MODIFIER,Setengah Matang,1.0,0b826949-4772-4de9-8144-1d9beceb7481,2021-04-22 13:54:06,Basic,F
26801,2023-01-01,2023-01-01 21:46:16 UTC,85d9a596-8307-4078-a4d5-debdef0f31c0,Resto,TPC,"TPC, Summarecon Mall Serpong",Kelapa Dua,"Tangerang, Kab.",d9c617fb-65f1-481b-98a4-55d8f73a6fdb,Package Content,BEVERAGE,BEVERAGE MODIFIER,Hot,1.0,0b826949-4772-4de9-8144-1d9beceb7481,2021-04-22 13:54:06,Basic,F
26802,2023-01-01,2023-01-01 21:46:16 UTC,85d9a596-8307-4078-a4d5-debdef0f31c0,Resto,TPC,"TPC, Summarecon Mall Serpong",Kelapa Dua,"Tangerang, Kab.",6b4f7c28-3e6e-4430-b1d7-b9604a18f8ce,Package Head,BEVERAGE,FRESHLY BREWED BY DJOURNAL,Long Black,1.0,0b826949-4772-4de9-8144-1d9beceb7481,2021-04-22 13:54:06,Basic,F
26803,2023-01-01,2023-01-01 21:46:16 UTC,85d9a596-8307-4078-a4d5-debdef0f31c0,Resto,TPC,"TPC, Summarecon Mall Serpong",Kelapa Dua,"Tangerang, Kab.",c583ee74-e0b1-47f8-a8cd-a21b3c03c258,Ala Carte,FOOD,MAINS,American Grilled Cheese Sandwich,1.0,0b826949-4772-4de9-8144-1d9beceb7481,2021-04-22 13:54:06,Basic,F

In [685]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26804 entries, 0 to 26803
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   trx_date              26804 non-null  object
 1   trx_date_detail       26804 non-null  object
 2   sales_id              26804 non-null  object
 3   concept               26804 non-null  object
 4   brand                 26804 non-null  object
 5   outlet                26804 non-null  object
 6   district              26804 non-null  object
 7   city                  26804 non-null  object
 8   menu_id               26804 non-null  object
 9   menu_type             26804 non-null  object
 10  menu_category         26804 non-null  object
 11  menu_category_detail  26804 non-null  object
 12  menu_name             26804 non-null  object
 13  quantity              26804 non-null  float64
 14  user_id               26804 non-null  object
 15  user_created_at       26804 non-null  object
 16  user_tier_level       26804 non-null  object
 17  user_gender           26804 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.7+ MB

In [686]:
for cols in df.columns:
    print(f"========== {cols} ==========")
    print(df.loc[:,cols].value_counts())
    print()

========== trx_date ==========
2023-01-01    8520
2023-01-02     532
2023-01-08     487
2023-01-22     436
2023-01-28     363
              ...
2023-02-22      97
2023-03-15      90
2023-03-01      87
2023-03-13      82
2023-02-20      55
Name: trx_date, Length: 90, dtype: int64

========== trx_date_detail ==========
2023-01-01 12:54:19 UTC    129
2023-01-01 15:49:14 UTC     57
2023-01-01 16:09:21 UTC     46
2023-01-27 17:25:10 UTC     44
2023-01-06 16:43:14 UTC     40
                          ...
2023-03-21 21:27:34 UTC      1
2023-03-26 14:06:38 UTC      1
2023-03-27 19:02:15 UTC      1
2023-01-13 15:23:01 UTC      1
2023-01-01 18:51:55 UTC      1
Name: trx_date_detail, Length: 4332, dtype: int64

========== sales_id ==========
e89b8641-40fc-4783-ba43-4bf06db1635f    129
57821705-d1c5-4549-99f8-3c250476c0c1     57
3afd54eb-e92e-4f98-bcef-6f095127a5f3     46
c9b4e365-6d83-415d-8c1e-5c8dd3f8acbe     44
0dd04b15-022b-49c9-bc97-0d5decbee0fe     40
                                       ...
a5fb737b-227b-43d3-807d-dc919e4547a4      1
12fac0d3-0181-4f19-bc7b-1be008909e52      1
161d8e45-f56d-4b59-a948-30baa93d5c99      1
fc4e0035-40a1-4a68-9caa-e199b5d3e5ca      1
6fb86126-39f0-4e0e-94d7-1520b2faba4e      1
Name: sales_id, Length: 4362, dtype: int64

========== concept ==========
Resto        19073
Lifestyle     7731
Name: concept, dtype: int64

========== brand ==========
Djournal           8208
TPC                4153
Osteria GIA        3974
Kitchenette        3004
Pizza E Birra      1522
Social House       1512
Tokyo Belly        1350
Social Garden       877
Publik Markette     593
Mr Fox              509
Skye                360
A/A                 231
Manarai             202
Djournal House      142
Sushi Groove        101
DF Kitchen           66
Name: brand, dtype: int64

========== outlet ==========
Osteria GIA, Plaza Indonesia        1705
Social House, Grand Indonesia       1512
Osteria GIA, Pondok Indah Mall 2    1258
Djournal, Pondok Indah Mall 2       1063
Osteria GIA, Pacific Place          1011
                                    ...
Djournal, Pasaraya Blok M              9
Kitchenette, Kuta Beachwalk            6
Djournal, MRT Blok M                   4
Djournal, Kuta Beachwalk               3
TPC, Pasaraya Blok M                   1
Name: outlet, Length: 100, dtype: int64

========== district ==========
Menteng              5008
Kebayoran Lama       4284
Kebayoran Baru       3169
Tanah Abang          2949
Pondok Aren          1414
Setia Budi           1410
Sukajadi             1015
Tegalsari             864
Tebet                 679
Grogol Petamburan     641
Mulyorejo             637
Wiyung                613
Kelapa Gading         606
Penjaringan           473
Serpong Utara         465
Denpasar Barat        396
Cakung                354
Kembangan             346
Kelapa Dua            257
Cilandak              206
Kuta Selatan          202
Kemayoran             195
Tanjung Priok         175
Beji                  143
Andir                 130
Kalideres              67
Cibinong               58
Babakan Madang         26
Kuta Utara             13
Kuta                    9
Name: district, dtype: int64

========== city ==========
Jakarta Selatan      9748
Jakarta Pusat        8152
Surabaya             2114
Tangerang Selatan    1879
Jakarta Utara        1254
Bandung, Kota        1145
Jakarta Barat        1054
Denpasar              396
Jakarta Timur         354
Tangerang, Kab.       257
Badung                224
Depok                 143
Bogor, Kab.            84
Name: city, dtype: int64

========== menu_id ==========
c482f57f-68ae-4f9b-b1a1-cd4c005279fc    549
16d7a8e4-1455-4e99-a84c-c82c10aa8e61    453
0a8d829f-ce91-4450-a2ae-a484ad9ec90e    421
5d9df03c-e6fa-420c-89b1-9cb341756505    285
76b2d827-8dac-4229-9290-e58fbcc79e62    267
                                       ...
721699c4-34ad-4e7a-9cf6-85e1062bcac7      1
fcec8fa9-358a-4c59-bda7-6d2b6c7c86df      1
8a66d84e-568c-4516-a2c9-e9849a3a4060      1
181c10b9-b796-4f8b-bbb3-60cbd0ffa6bb      1
6b78be91-4986-42c0-aa54-b7f01a056842      1
Name: menu_id, Length: 2520, dtype: int64

========== menu_type ==========
Ala Carte          10666
Package Content     9017
Package Head        7121
Name: menu_type, dtype: int64

========== menu_category ==========
BEVERAGE     14053
FOOD         11525
LIQUEUR        627
BEER           399
WINE           126
CIGARETTE       42
OTHER           32
Name: menu_category, dtype: int64

========== menu_category_detail ==========
ESPRESSO BASED              2874
BEVERAGE MODIFIER           2495
KOPI BATAVIA BY DJOURNAL    1854
FOOD MODIFIER               1816
TEA                         1390
                            ...
VODKA                          3
COCKTAIL BEER                  2
TEISHOKU                       1
MERCHANDISE                    1
NIGIRI                         1
Name: menu_category_detail, Length: 96, dtype: int64

========== menu_name ==========
Kopi Susu Batavia           549
Reg Milk Iced KopSus Btv    453
Bread                       421
Long Black                  370
Iced                        358
                           ...
Blood Orange Tiramisu         1
2019 Penfolds Bin 8           1
Espresso Double               1
Virgin Mojito                 1
Tempe Goreng PWP              1
Name: menu_name, Length: 2030, dtype: int64

========== quantity ==========
1.0     23879
2.0      2081
3.0       488
4.0       241
5.0        48
6.0        41
8.0        12
7.0         5
10.0        5
11.0        1
9.0         1
15.0        1
16.0        1
Name: quantity, dtype: int64

========== user_id ==========
49444c7e-8d84-4d57-ab95-108ef3dc386e    729
7f1c1614-7fad-42f4-a458-00bc79861c20    585
9156aa51-9ee3-4c45-bdd9-ff8f5a405e46    289
4b7cfe3d-c243-49b2-b1a2-53d35966c40c    275
399873b2-415a-4000-98d5-5a637a6be8df    271
                                       ...
c6e4c6b2-74f1-4c56-b31d-4d9441f16e37      1
832dbbc1-5ebe-40d7-a0aa-fa180e53b65f      1
4f58a3d7-0f83-4040-8bed-6bdc05587d5b      1
6e6e7d5d-405f-45b2-ae76-1e20212a6118      1
bdc18e30-fbb0-4e24-b9a9-3e83424b1358      1
Name: user_id, Length: 1000, dtype: int64

========== user_created_at ==========
2022-04-19 19:20:59    1528
2022-09-28 08:21:47     729
2022-03-07 18:11:47     718
2021-04-02 13:40:47     585
2022-05-14 09:41:01     289
                       ...
2021-10-14 12:15:19       1
2021-03-30 03:36:06       1
2022-05-09 03:01:35       1
2021-06-04 14:57:27       1
2021-05-28 16:47:50       1
Name: user_created_at, Length: 873, dtype: int64

========== user_tier_level ==========
Basic      9125
Silver     7976
Diamond    5879
Gold       3284
Black       540
Name: user_tier_level, dtype: int64

========== user_gender ==========
F    15382
M    11422
Name: user_gender, dtype: int64

Note that 5% of the table is duplicate. I think it is logical assuming a bill may contain the same item more than once, just billed separately. I will keep the duplicates for now.

In [687]:
df.duplicated(keep='first').sum() / df.shape[0] * 100

5.282793612893598

## Normalize and Analyze Table

### User

Note that `user_id` can be a primary key with the following columns.

In [688]:
cols_user = ['user_id', 'user_created_at', 'user_tier_level', 'user_gender']

df_user = (
    df.loc[:, cols_user]
    .drop_duplicates(subset=['user_id'])
    .reset_index(drop=True)
    .assign(user_created_at=lambda x: pd.to_datetime(x['user_created_at']),
            time_since_created=lambda x: (NOW - x['user_created_at']),
            user_tier_level=lambda x: pd.Categorical(
                x['user_tier_level'],
                # See below for the order of the categories
                categories=['Basic', 'Silver', 'Gold', 'Diamond', 'Black'],
                ordered=True
                ),
            user_gender=lambda x: x['user_gender'].astype('category'),
            )
    )

# df_user.to_excel('data/user.xlsx')

df_user

,user_id,user_created_at,user_tier_level,user_gender,time_since_created
0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F,687 days 16:18:33
1,72512d30-7126-4b6c-91ce-1a3f00fba4b5,2023-01-01 11:42:02,Silver,M,89 days 12:17:58
2,ffde4412-810f-4800-a40b-27ad2a614a9e,2021-04-12 12:37:02,Diamond,M,718 days 11:22:58
3,f118fcc6-061d-4cba-a708-dc2a5c981e2b,2021-03-31 08:41:49,Black,F,730 days 15:18:11
4,1b9c05d6-f6da-43e1-8a0b-c72bcf8a5eff,2022-09-14 07:24:17,Diamond,M,198 days 16:35:43
...,...,...,...,...,...
995,b13179ad-3664-474a-a8cb-d0eab61213ed,2022-04-19 19:20:59,Basic,F,346 days 04:39:01
996,15812814-0cf7-4a0e-808d-6a1defc3e4cc,2021-04-24 07:14:14,Basic,F,706 days 16:45:46
997,59f2e38b-8afc-4492-a1d9-607af226bbe0,2022-12-13 09:57:31,Basic,F,108 days 14:02:29
998,b00238dc-12d4-4309-b639-6eb7b86345b7,2022-04-19 19:20:59,Basic,F,346 days 04:39:01
999,0b826949-4772-4de9-8144-1d9beceb7481,2021-04-22 13:54:06,Basic,F,708 days 10:05:54

`user_created_at` does not have any meaningful info unless compared to now.

The number of users should be fewer the higher the tier is. Therefore, I assume the following tiering system:
1. Basic
2. Silver
3. Gold
4. Diamond
5. Black

In [689]:
for cols in df_user.columns:
    print(f"========== {cols} ==========")
    print(df_user.loc[:,cols].value_counts())
    print()

========== user_id ==========
db0df3a5-2d00-4fed-93b1-99ea1eedccd8    1
0aa810b0-5f3c-489d-9dd2-42c4da90c6a9    1
7a4314d4-3be4-4d0b-a7f1-7aa786dbee3b    1
5f88605a-fd10-4a95-954e-d3b04bddc51c    1
39ac44d8-0cdb-482c-a4a7-6bfbb31d24d0    1
                                       ..
0f6864fc-e362-4c63-824a-1b467f7d2a76    1
fc2387b0-83b8-4389-9115-bb8e4c030448    1
83991748-8c6d-45ee-839c-9553f0b934d6    1
cb41a855-9334-4e97-8d60-641a41df7f5c    1
0b826949-4772-4de9-8144-1d9beceb7481    1
Name: user_id, Length: 1000, dtype: int64

========== user_created_at ==========
2022-04-19 19:20:59    80
2022-03-07 18:11:47    49
2021-05-13 07:41:27     1
2023-01-01 12:41:10     1
2021-10-13 10:13:55     1
                       ..
2021-09-08 11:31:33     1
2021-11-18 15:35:43     1
2021-04-18 12:10:57     1
2022-10-09 12:43:20     1
2021-04-22 13:54:06     1
Name: user_created_at, Length: 873, dtype: int64

========== user_tier_level ==========
Basic      668
Silver     224
Gold        54
Diamond     50
Black        4
Name: user_tier_level, dtype: int64

========== user_gender ==========
F    655
M    345
Name: user_gender, dtype: int64

========== time_since_created ==========
346 days 04:39:01    80
389 days 05:48:13    49
687 days 16:18:33     1
89 days 11:18:50      1
534 days 13:46:05     1
                     ..
569 days 12:28:27     1
498 days 08:24:17     1
712 days 11:49:03     1
173 days 11:16:40     1
708 days 10:05:54     1
Name: time_since_created, Length: 873, dtype: int64

### Menu

Note that `menu_id` can be a primary key with the following columns.

In [690]:
cols_menu = ['menu_id', 'concept', 'brand', 'menu_category',
       'menu_category_detail', 'menu_name']

df_menu = (
   df.loc[:, cols_menu]
   .drop_duplicates(subset=['menu_id'])
   .reset_index(drop=True)
   .assign(
      concept=lambda x: x['concept'].astype('category'),
      brand=lambda x: x['brand'].astype('category'),
      menu_category=lambda x: x['menu_category'].astype('category'),
      menu_name=lambda x: (x['menu_name']
                           .str.lower()
                           .str.strip()
                           .str.replace('"', "")
                           .str.replace("'", "")),
      )
   )

# df_menu.to_excel('data/menu.xlsx')

df_menu

,menu_id,concept,brand,menu_category,menu_category_detail,menu_name
0,5204e17e-aefb-4235-8eb8-7177a5679352,Lifestyle,A/A,FOOD,APPETIZERS,french fries
1,1420bcef-ac34-4967-b5e0-4a2942f222a4,Lifestyle,A/A,BEVERAGE,BEVERAGE MODIFIER,single
2,77bb78c6-2f51-4f61-9d74-02d69388cef1,Lifestyle,A/A,BEVERAGE,BEVERAGE MODIFIER,coca cola
3,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,monkey shoulder_double
4,cfa23fc2-c4ab-4377-b0fe-489493016af1,Lifestyle,A/A,LIQUEUR,SINGLE MALT,lagavulin 16 yo (glass)
...,...,...,...,...,...,...
2515,8eb29682-7f61-4534-a52b-d24b802a476d,Resto,TPC,FOOD,FOOD ADDITIONAL,add sambal bawang
2516,23a9b658-eb0a-4c42-bdaa-81db7297810e,Resto,TPC,FOOD,FOOD ADDITIONAL,add sambal merah
2517,d8df4556-a2c9-4882-9ccb-86f82d119b0d,Resto,TPC,FOOD,RICE & NOODLE,sate taichan gemoy (15 pcs)
2518,847ba680-cb8d-4003-8273-f9f512722880,Resto,Djournal,BEVERAGE,BLENDED,reg milk spiced biscoff
2519,6b78be91-4986-42c0-aa54-b7f01a056842,Resto,TPC,FOOD,FOOD PROMO,tempe goreng pwp

In [691]:
for cols in df_menu.columns:
    print(f"========== {cols} ==========")
    print(df_menu.loc[:,cols].value_counts())
    print()

========== menu_id ==========
5204e17e-aefb-4235-8eb8-7177a5679352    1
e8c4c676-f4f0-4706-ab65-bca7ae8c738d    1
6f664aee-e6c1-411f-a98c-2fe04d7454cc    1
038edb99-9dca-4e0b-9bdf-3625665a35c9    1
39a9319e-1ed7-4d94-9962-10ad4c3f01a3    1
                                       ..
63e148cd-9365-48d2-af55-2da9cd50f1d0    1
2ed72388-a9a7-4450-b201-563fc9dd5bc5    1
308dc538-27fe-4b42-9182-518136d65bc3    1
d1ef1c0d-2dee-4618-ab1d-7f12e4538213    1
6b78be91-4986-42c0-aa54-b7f01a056842    1
Name: menu_id, Length: 2520, dtype: int64

========== concept ==========
Resto        1335
Lifestyle    1185
Name: concept, dtype: int64

========== brand ==========
Djournal           303
Social House       247
TPC                240
Osteria GIA        233
Tokyo Belly        195
Mr Fox             192
Kitchenette        182
Social Garden      171
Pizza E Birra      170
Skye               133
Publik Markette    131
Manarai             93
A/A                 83
Djournal House      62
Sushi Groove        52
DF Kitchen          33
Name: brand, dtype: int64

========== menu_category ==========
FOOD         1204
BEVERAGE      856
LIQUEUR       263
WINE           79
BEER           74
CIGARETTE      26
OTHER          18
Name: menu_category, dtype: int64

========== menu_category_detail ==========
BEVERAGE MODIFIER        165
FOOD MODIFIER            159
FOOD ADDITIONAL          144
TEA & COFFEE             113
MAINS                    112
                        ...
MOCKTAIL                   2
SIGNATURE BROTH RAMEN      2
TEISHOKU                   1
MERCHANDISE                1
NIGIRI                     1
Name: menu_category_detail, Length: 96, dtype: int64

========== menu_name ==========
fresh milk                    14
coca cola                     12
iced tea                      10
botanical water               10
long black                     9
                              ..
red velvet naked cake          1
reg milk piccolo latte         1
wagyu bibimbap bowl            1
sweet korean fried chicken     1
tempe goreng pwp               1
Name: menu_name, Length: 1985, dtype: int64

Drop irrelevant categories. Combine similar category details.

In [692]:
excluded_category_details = {
    "BEVERAGE MODIFIER",
    "FOOD MODIFIER",
    "FOOD ADDITIONAL",
    "BEVERAGE ADDITIONAL",
    }

excluded_categories = {
    "OTHER",
}

menu_category_detail_mapper = {
    'APPETIZERS': 'APPETIZER',
    'APPETIZER': 'APPETIZER',
    'BEER': 'BEER',
    'BEER PROMO': 'BEER PROMO',
    'BEVERAGE PROMO': 'BEVERAGE PROMO',
    'BLENDED': 'BLENDED',
    'CHAMPAGNE': 'CHAMPAGNE',
    'CIGARETTE': 'CIGARETTE',
    'COCKTAIL BEER': 'COCKTAIL',
    'CLASSIC COCKTAIL': 'COCKTAIL',
    'SIGNATURE COCKTAIL': 'COCKTAIL',
    'SPECIAL COCKTAIL': 'COCKTAIL',
    'COGNAC': 'COGNAC',
    'DESSERT': 'DESSERT',
    'CAKE': 'DESSERT',
    'DESSERTS': 'DESSERT',
    'SIGNATURE FLAVOURED': 'DRINKS',
    'BOTTLED DRINKS': 'DRINKS',
    'MILK & CHOCOLATE': 'DRINKS',
    'FOOD PROMO': 'FOOD PROMO',
    'GIN': 'GIN',
    'KIDS MEAL': 'KIDS MEAL',
    'LIQUOR': 'LIQUOR',
    'VODKA': 'LIQUOR',
    'TEQUILA': 'LIQUOR',
    'SAKE & SOJU': 'LIQUOR',
    'APERITIF & DIGESTIF': 'LIQUOR',
    'FREE FLOW GIN & TONIC': 'LIQUOR',
    'RICE & NOODLE': 'MAIN',
    'RICE': 'MAIN',
    'PRIME BEEF CUTS': 'MAIN',
    'ALL DAY BREAKFAST': 'MAIN',
    'MAINS': 'MAIN',
    'JOSPER GRILL': 'MAIN',
    'LAND & SEA': 'MAIN',
    'MAIN': 'MAIN',
    'TEISHOKU': 'MAIN',
    'FROM THE WOK': 'MAIN',
    'SEJUICEME': 'MOCKTAIL & JUICE',
    'MOCKTAIL & JUICE': 'MOCKTAIL & JUICE',
    'MOCKTAIL & JUICES': 'MOCKTAIL & JUICE',
    'DJAMU DJAMU BY DJOURNAL': 'MOCKTAIL & JUICE',
    'MOCKTAILS': 'MOCKTAIL & JUICE',
    'MOCKTAIL': 'MOCKTAIL & JUICE',
    'SASHIMI': 'NIGIRI, SUSHI & SASHIMI',
    'NIGIRI': 'NIGIRI, SUSHI & SASHIMI',
    'SUSHI ROLL': 'NIGIRI, SUSHI & SASHIMI',
    'PASTA': 'PASTA',
    'PASTRY & SANDWICH': 'PASTRY & SANDWICH',
    'NY STYLE GIANT PIZZA': 'PIZZA',
    'CLASSIC CRUST PIZZA': 'PIZZA',
    'THIN CRUST PIZZA': 'PIZZA',
    'PIZZA': 'PIZZA',
    'DRY RAMEN': 'RAMEN',
    'PREMIUM TOKYO BELLY RAMEN': 'RAMEN',
    'RAMEN': 'RAMEN',
    'SIGNATURE BROTH RAMEN': 'RAMEN',
    'CLASSIC TORI PAITAN RAMEN': 'RAMEN',
    'RUM': 'RUM',
    'SET MENU': 'SET MENU',
    'SNACK BAR': 'SIDE DISH',
    'GRAB N GO': 'SIDE DISH',
    'SIDES': 'SIDE DISH',
    'LITE BITES': 'SIDE DISH',
    'SOUP & SALAD': 'SOUP & SALAD',
    'SALAD': 'SOUP & SALAD',
    'SPECIALS MENU': 'SPECIAL MENU',
    'SPECIAL MENU': 'SPECIAL MENU',
    'SPIRIT PROMO': 'SPIRIT PROMO',
    'TEA & COFFEE': 'TEA & COFFEE',
    'FRESHLY BREWED BY DJOURNAL': 'TEA & COFFEE',
    'BREW AT HOME': 'TEA & COFFEE',
    'KOPI NUSANTARA': 'TEA & COFFEE',
    'KOPI BATAVIA BY DJOURNAL': 'TEA & COFFEE',
    'HANDBREWED COFFEE': 'TEA & COFFEE',
    'FRESHLY BREWED BY DJOURNAL ': 'TEA & COFFEE',
    'ESPRESSO BASED': 'TEA & COFFEE',
    'TEA': 'TEA & COFFEE',
    'WATER & SOFT DRINKS': 'WATER & SOFT DRINKS',
    'WATER & SOFTDRINKS': 'WATER & SOFT DRINKS',
    'WATER & SOFTIES': 'WATER & SOFT DRINKS',
    'SINGLE MALT': 'WHISK(E)Y',
    'WHISK(E)Y': 'WHISK(E)Y',
    'WHITE WINE': 'WINE',
    'WINE': 'WINE',
    'RED WINE': 'WINE',
    'SWEET WINE': 'WINE',
    'WINE PROMO': 'WINE PROMO',
    }

df_menu = (
    df_menu
    .query('menu_category_detail not in @excluded_category_details and menu_category not in @excluded_categories')
    .assign(menu_category_detail = lambda x: x.menu_category_detail.map(menu_category_detail_mapper))
    .reset_index(drop=True)
)

df_menu

,menu_id,concept,brand,menu_category,menu_category_detail,menu_name
0,5204e17e-aefb-4235-8eb8-7177a5679352,Lifestyle,A/A,FOOD,APPETIZER,french fries
1,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,monkey shoulder_double
2,cfa23fc2-c4ab-4377-b0fe-489493016af1,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,lagavulin 16 yo (glass)
3,9708a976-0852-4705-a619-359447db7b09,Lifestyle,A/A,LIQUEUR,COCKTAIL,lemon drop
4,5aca9660-a702-4590-82dd-4c3666204fb8,Lifestyle,A/A,LIQUEUR,COCKTAIL,ginger
...,...,...,...,...,...,...
2010,c2d230aa-c166-4582-8bf5-55cc071d1374,Resto,Tokyo Belly,BEVERAGE,BLENDED,strawberry chocomint
2011,4f2eac99-d67c-48a6-8ec1-b1569660dd78,Resto,TPC,BEVERAGE,TEA & COFFEE,jasmine
2012,d8df4556-a2c9-4882-9ccb-86f82d119b0d,Resto,TPC,FOOD,MAIN,sate taichan gemoy (15 pcs)
2013,847ba680-cb8d-4003-8273-f9f512722880,Resto,Djournal,BEVERAGE,BLENDED,reg milk spiced biscoff
2014,6b78be91-4986-42c0-aa54-b7f01a056842,Resto,TPC,FOOD,FOOD PROMO,tempe goreng pwp

In [693]:
with pd.option_context("display.max_rows", None):
    display(df_menu['menu_category_detail'].value_counts())

TEA & COFFEE               371
MAIN                       241
COCKTAIL                   152
WATER & SOFT DRINKS        104
FOOD PROMO                  99
SIDE DISH                   93
MOCKTAIL & JUICE            85
APPETIZER                   85
DESSERT                     78
BEER                        66
PASTA                       56
BLENDED                     54
WINE                        53
PIZZA                       53
SOUP & SALAD                51
WHISK(E)Y                   40
RAMEN                       39
PASTRY & SANDWICH           37
DRINKS                      34
SPIRIT PROMO                27
SPECIAL MENU                27
CIGARETTE                   26
BEVERAGE PROMO              24
LIQUOR                      23
NIGIRI, SUSHI & SASHIMI     23
GIN                         19
WINE PROMO                  17
SET MENU                    11
KIDS MEAL                    8
BEER PROMO                   7
CHAMPAGNE                    5
COGNAC                       4
RUM                          3
Name: menu_category_detail, dtype: int64

In [694]:
for cols in df_menu.columns:
    print(f"========== {cols} ==========")
    print(df_menu.loc[:,cols].value_counts())
    print()

========== menu_id ==========
5204e17e-aefb-4235-8eb8-7177a5679352    1
e3e6a1f5-cf17-4621-99ca-697c0c167db9    1
c81a5108-2768-4b40-8ec6-d200ff6159f5    1
fb5c182f-afd9-418f-90a4-1358d807be3d    1
6e6002fe-8587-44d3-8edd-cb95be3d2484    1
                                       ..
4dd93331-900b-4a32-9f39-238f7bfcf06a    1
a343bc5c-9ca0-48f1-88b2-b18aa0955a7b    1
c0f48892-1c60-434d-9e0c-80f467ddd143    1
8a7e4aa1-a72f-4679-a899-070c53628617    1
6b78be91-4986-42c0-aa54-b7f01a056842    1
Name: menu_id, Length: 2015, dtype: int64

========== concept ==========
Resto        1036
Lifestyle     979
Name: concept, dtype: int64

========== brand ==========
Djournal           264
TPC                195
Osteria GIA        192
Social House       185
Mr Fox             174
Social Garden      136
Kitchenette        134
Tokyo Belly        133
Pizza E Birra      131
Skye               113
Publik Markette     91
Manarai             76
A/A                 75
Djournal House      46
Sushi Groove        42
DF Kitchen          28
Name: brand, dtype: int64

========== menu_category ==========
FOOD         901
BEVERAGE     672
LIQUEUR      263
WINE          79
BEER          74
CIGARETTE     26
OTHER          0
Name: menu_category, dtype: int64

========== menu_category_detail ==========
TEA & COFFEE               371
MAIN                       241
COCKTAIL                   152
WATER & SOFT DRINKS        104
FOOD PROMO                  99
SIDE DISH                   93
MOCKTAIL & JUICE            85
APPETIZER                   85
DESSERT                     78
BEER                        66
PASTA                       56
BLENDED                     54
WINE                        53
PIZZA                       53
SOUP & SALAD                51
WHISK(E)Y                   40
RAMEN                       39
PASTRY & SANDWICH           37
DRINKS                      34
SPIRIT PROMO                27
SPECIAL MENU                27
CIGARETTE                   26
BEVERAGE PROMO              24
LIQUOR                      23
NIGIRI, SUSHI & SASHIMI     23
GIN                         19
WINE PROMO                  17
SET MENU                    11
KIDS MEAL                    8
BEER PROMO                   7
CHAMPAGNE                    5
COGNAC                       4
RUM                          3
Name: menu_category_detail, dtype: int64

========== menu_name ==========
fresh milk                14
long black                 9
coca cola                  8
cappuccino                 8
iced tea                   7
                          ..
chicken steak ala tpc      1
lumpia sayur               1
philly cheese sandwich     1
brown butter chicken       1
tempe goreng pwp           1
Name: menu_name, Length: 1620, dtype: int64

### Sales

Note that `menu_id` can be a primary key with the following columns. Note that the `outlet` can be separated into the outlet itself and the `mall` the outlet is in.

In [695]:
cols_sales = ['sales_id','trx_date','trx_date_detail', 'outlet','district',
              'city']

df_sales = (
    df.loc[:, cols_sales]
    .drop_duplicates(subset=['sales_id'])
    .reset_index(drop=True)
    .assign(
        trx_date=lambda x: pd.to_datetime(x['trx_date']),
        trx_year=lambda x: x['trx_date'].dt.year,
        trx_month=lambda x: x['trx_date'].dt.month,
        trx_day=lambda x: x['trx_date'].dt.day,
        trx_dayofweek=lambda x: x['trx_date'].dt.dayofweek,
        trx_hour=lambda x: pd.to_datetime(x['trx_date_detail']).dt.hour,
        trx_date_detail=lambda x: (pd.to_datetime(x['trx_date_detail'])
                                   .dt.tz_convert(None)),
        district=lambda x: x['district'].astype('category'),
        city=lambda x: x['city'].astype('category'),
        mall=lambda x: (x['outlet']
                        .str.split(', ')
                        .apply(lambda x: x[1])
                        .astype('category')),
        outlet=lambda x: (x['outlet']
                        .str.split(', ')
                        .apply(lambda x: x[0])
                        .astype('category')),
        )
    # .drop(columns=['trx_date_detail'])
    )

# df_sales.to_excel('data/sales.xlsx')

df_sales

,sales_id,trx_date,trx_date_detail,outlet,district,city,trx_year,trx_month,trx_day,trx_dayofweek,trx_hour,mall
0,02d6de17-9ca4-480f-b13c-7336dccd64b9,2023-01-04,2023-01-04 20:26:46,Apothecary,Kebayoran Baru,Jakarta Selatan,2023,1,4,2,20,Gunawarman
1,82120f70-c8a0-4f60-9444-5082c2b54a3c,2023-03-04,2023-03-04 20:53:19,Apothecary,Kebayoran Baru,Jakarta Selatan,2023,3,4,5,20,Gunawarman
2,acdde20e-b453-4138-bcb0-2fb93783b57a,2023-03-04,2023-03-04 15:14:51,Djournal,Kebayoran Baru,Jakarta Selatan,2023,3,4,5,15,Pacific Place
3,c975fe99-2def-423f-a523-ec759b106916,2023-01-01,2023-01-01 17:05:24,Osteria GIA,Kebayoran Baru,Jakarta Selatan,2023,1,1,6,17,Pacific Place
4,a16d566f-8155-4137-9bb0-ddc21149b1f3,2023-01-06,2023-01-06 20:31:02,Osteria GIA,Kebayoran Baru,Jakarta Selatan,2023,1,6,4,20,Pacific Place
...,...,...,...,...,...,...,...,...,...,...,...,...
4357,27402973-1992-411b-9e2a-c5e9c328df14,2023-01-01,2023-01-01 15:38:48,TPC,Tegalsari,Surabaya,2023,1,1,6,15,Tunjungan Plaza
4358,e7abb22b-6428-4872-82e7-faa367151791,2023-01-01,2023-01-01 19:38:22,TPC,Tegalsari,Surabaya,2023,1,1,6,19,Tunjungan Plaza
4359,23970872-45ae-43b7-bc7c-9a4ae475a865,2023-01-03,2023-01-03 15:02:07,TPC,Tegalsari,Surabaya,2023,1,3,1,15,Tunjungan Plaza
4360,27621ded-1468-4a92-8b87-1c97c8dad689,2023-01-01,2023-01-01 16:53:10,TPC,Kelapa Dua,"Tangerang, Kab.",2023,1,1,6,16,Summarecon Mall Serpong
4361,85d9a596-8307-4078-a4d5-debdef0f31c0,2023-01-01,2023-01-01 21:46:16,TPC,Kelapa Dua,"Tangerang, Kab.",2023,1,1,6,21,Summarecon Mall Serpong

It seems that the data is last updated on 2023-03-31. Therefore, I will assume that now is 2023-04-01.

In [696]:
df_sales['trx_date_detail'].max()

Timestamp('2023-03-31 23:01:35')

In [697]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4362 entries, 0 to 4361
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sales_id         4362 non-null   object
 1   trx_date         4362 non-null   datetime64[ns]
 2   trx_date_detail  4362 non-null   datetime64[ns]
 3   outlet           4362 non-null   category
 4   district         4362 non-null   category
 5   city             4362 non-null   category
 6   trx_year         4362 non-null   int64
 7   trx_month        4362 non-null   int64
 8   trx_day          4362 non-null   int64
 9   trx_dayofweek    4362 non-null   int64
 10  trx_hour         4362 non-null   int64
 11  mall             4362 non-null   category
dtypes: category(4), datetime64[ns](2), int64(5), object(1)
memory usage: 294.9+ KB

In [698]:
for cols in df_sales.columns:
    print(f"========== {cols} ==========")
    print(df_sales.loc[:,cols].value_counts())
    print()

========== sales_id ==========
02d6de17-9ca4-480f-b13c-7336dccd64b9    1
12d63b81-bca9-44c3-b9ab-17ac8a8d1b37    1
17131c7c-cad3-4adb-84e5-bbf5aa92a4ee    1
7413b1b9-cac1-4987-a204-050c4b514b74    1
b5393db8-540f-42d9-80d2-4ed438d89082    1
                                       ..
c3c2b8ce-fbd9-48f0-af9b-1870965423bc    1
576e9357-811c-41f5-9def-ccc48761e76f    1
7e8a3430-e7e0-402c-8eec-0e7065e0db68    1
026a2041-b412-4fec-94ec-31b2cef24b66    1
85d9a596-8307-4078-a4d5-debdef0f31c0    1
Name: sales_id, Length: 4362, dtype: int64

========== trx_date ==========
2023-01-01    1073
2023-01-02      74
2023-01-08      72
2023-01-15      60
2023-02-05      59
              ...
2023-02-22      21
2023-03-15      21
2023-03-20      21
2023-02-09      17
2023-02-20      13
Name: trx_date, Length: 90, dtype: int64

========== trx_date_detail ==========
2023-02-02 17:32:53    4
2023-01-01 14:57:52    2
2023-01-01 15:42:33    2
2023-01-01 14:54:55    2
2023-01-01 19:32:59    2
                      ..
2023-02-15 11:09:32    1
2023-02-18 20:10:08    1
2023-02-23 17:03:10    1
2023-02-28 14:28:47    1
2023-01-01 21:46:16    1
Name: trx_date_detail, Length: 4332, dtype: int64

========== outlet ==========
Djournal                        1868
TPC                              615
Osteria GIA                      468
Kitchenette                      352
Pizza e Birra                    267
Social House                     194
Tokyo Belly                      146
Social Garden                    123
Mr. Fox                           86
Publik Markette                   78
SKYE                              40
Pizza E Birra x Kitchenette       38
Apothecary                        29
Manarai                           22
DF Kitchen                        14
Sushigroove                       10
Pizza E Birra X Sushi Groove       6
Pizza e Birra x Djournal           6
Name: outlet, dtype: int64

========== district ==========
Kebayoran Lama       738
Menteng              618
Tanah Abang          614
Kebayoran Baru       510
Setia Budi           247
Pondok Aren          245
Tegalsari            190
Mulyorejo            172
Sukajadi             137
Penjaringan          127
Wiyung                99
Kelapa Gading         82
Kembangan             82
Tebet                 75
Grogol Petamburan     71
Cilandak              54
Cakung                45
Kelapa Dua            44
Serpong Utara         44
Denpasar Barat        37
Kemayoran             25
Kuta Selatan          22
Tanjung Priok         20
Andir                 17
Beji                  17
Kalideres             14
Kuta Utara             6
Babakan Madang         4
Cibinong               3
Kuta                   3
Name: district, dtype: int64

========== city ==========
Jakarta Selatan      1624
Jakarta Pusat        1257
Surabaya              461
Tangerang Selatan     289
Jakarta Utara         229
Jakarta Barat         167
Bandung, Kota         154
Jakarta Timur          45
Tangerang, Kab.        44
Denpasar               37
Badung                 31
Depok                  17
Bogor, Kab.             7
Name: city, dtype: int64

========== trx_year ==========
2023    4362
Name: trx_year, dtype: int64

========== trx_month ==========
1    2394
3    1026
2     942
Name: trx_month, dtype: int64

========== trx_day ==========
1     1129
5      148
2      142
4      140
8      134
3      133
11     127
28     126
7      122
19     120
17     116
12     112
10     111
18     110
22     109
6      108
26     106
14     106
15     105
25     105
16     100
27      97
23      94
24      89
13      88
9       88
21      87
31      86
29      81
20      72
30      71
Name: trx_day, dtype: int64

========== trx_dayofweek ==========
6    1647
5     523
4     512
1     439
3     431
0     416
2     394
Name: trx_dayofweek, dtype: int64

========== trx_hour ==========
19    459
13    439
18    438
14    435
17    427
12    419
15    414
16    362
20    318
11    270
21    161
10    113
22     39
9      28
23     17
0       6
2       5
8       5
1       4
7       2
4       1
Name: trx_hour, dtype: int64

========== mall ==========
Grand Indonesia            629
Pondok Indah Mall 2        417
Senayan City               350
Pacific Place              344
Plaza Indonesia            253
Bintaro Exchange           245
Gandaria City              197
Tunjungan Plaza            190
Kuningan City              144
Paris Van Java             137
Galaxy Mall                118
Mall Emporium              115
Pakuwon Mall Surabaya       87
Setiabudi One               82
Kota Kasablanka             75
Gandaria City Two           74
Central Park                71
Cilandak Town Square        54
East Coast Center           54
Mall Artha Gading           51
Pondok Indah Mall           50
Mall Puri Indah             46
JGC Aeon Mall Cakung        45
Energy Building             44
Living World                44
Maxxbox Karawaci            39
Blok M Plaza                39
Level 21                    37
Lippo Mall Puri             36
House Gunawarman            30
Gunawarman                  29
Citra Tower Kemayoran       25
Nusa Dua                    22
Foodcentrum Sunter          20
Kemang Village              18
Margo City Mall             17
Mall Kelapa Gading          17
Paskal                      17
Gatot Subroto               14
Citra Lake                  14
Mall of Indonesia           14
Mall Emporium Pluit         12
Intiland Loop               12
Petitenget                   6
Summarecon Mall Serpong      5
Pasaraya Blok M              4
Rajawali                     4
Sentul                       4
World Trade Center           3
Kuta Beachwalk               3
Cibinong Mall                3
MRT Blok M                   2
Name: mall, dtype: int64

### Bridge: Sales-Menu-User

In [699]:
cols_bridge = ['sales_id','user_id','menu_id','menu_type','quantity']

df_bridge = (
   df.loc[:, cols_bridge]
   )

# df_bridge.to_excel('data/bridge.xlsx')

df_bridge

,sales_id,user_id,menu_id,menu_type,quantity
0,02d6de17-9ca4-480f-b13c-7336dccd64b9,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,5204e17e-aefb-4235-8eb8-7177a5679352,Ala Carte,1.0
1,02d6de17-9ca4-480f-b13c-7336dccd64b9,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,1420bcef-ac34-4967-b5e0-4a2942f222a4,Package Content,1.0
2,02d6de17-9ca4-480f-b13c-7336dccd64b9,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,1420bcef-ac34-4967-b5e0-4a2942f222a4,Package Content,1.0
3,02d6de17-9ca4-480f-b13c-7336dccd64b9,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,77bb78c6-2f51-4f61-9d74-02d69388cef1,Package Content,1.0
4,02d6de17-9ca4-480f-b13c-7336dccd64b9,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Package Content,1.0
...,...,...,...,...,...
26799,85d9a596-8307-4078-a4d5-debdef0f31c0,0b826949-4772-4de9-8144-1d9beceb7481,23584c04-c6ae-4118-94a9-f248e3a58b00,Ala Carte,1.0
26800,85d9a596-8307-4078-a4d5-debdef0f31c0,0b826949-4772-4de9-8144-1d9beceb7481,b69907d0-a325-4b5a-bb48-2bb6abbae51a,Package Content,1.0
26801,85d9a596-8307-4078-a4d5-debdef0f31c0,0b826949-4772-4de9-8144-1d9beceb7481,d9c617fb-65f1-481b-98a4-55d8f73a6fdb,Package Content,1.0
26802,85d9a596-8307-4078-a4d5-debdef0f31c0,0b826949-4772-4de9-8144-1d9beceb7481,6b4f7c28-3e6e-4430-b1d7-b9604a18f8ce,Package Head,1.0
26803,85d9a596-8307-4078-a4d5-debdef0f31c0,0b826949-4772-4de9-8144-1d9beceb7481,c583ee74-e0b1-47f8-a8cd-a21b3c03c258,Ala Carte,1.0

## Insights and Potential Features

### User centric

Since the analysis is user-based (i.e., given `user_id` and past sales behavior), we will need to feature engineer on user level. To use content-based filtering, we will need to create a metric to measure the liking of a user to a menu.

The metric I choose is count of menu. The idea is that if someone doesn't like what they order, they wouldn't order again. So the more menu they order, the more they like the menu.

However, if the user only ordered once, it is hard to tell whether the user likes the menu or not. If it has been a long time since they ordered the menu, we can say that they don't like the menu they only ordered once.

Therefore, we need to engineer two features
1. `avg_trx_interval`
2. `rating`

On top of that, note that some menus are similar. Therefore, we can engineer new grouping for the menus.

#### 1. `avg_trx_interval`

How long it has been since the user ordered the menu? I choose to use the average of the time interval between orders.

The idea is that if the average time interval is long, it means that the user doesn't order frequently.

If the average time interval is short, it means that the user order frequently.

In [700]:
df_trx_interval = (
    df_sales
    .merge(
        df_bridge[['sales_id','user_id']].drop_duplicates(),
        on='sales_id',
        how='left',
        )
    .sort_values(['user_id','trx_date_detail'])
    .assign(
        # Calculate the interval between transactions
        avg_trx_interval=lambda x: x.groupby('user_id')['trx_date_detail'].diff(),
        )
    .groupby('user_id')
    .agg({'avg_trx_interval': ['mean']})
    .droplevel(1, axis=1)
    .reset_index()
    )

# For idempotency
if 'avg_trx_interval' in df_user.columns:
    df_user = df_user.drop(columns='avg_trx_interval')

df_user = df_user.merge(df_trx_interval, on='user_id')
df_user

,user_id,user_created_at,user_tier_level,user_gender,time_since_created,avg_trx_interval
0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F,687 days 16:18:33,7 days 18:28:29.375000
1,72512d30-7126-4b6c-91ce-1a3f00fba4b5,2023-01-01 11:42:02,Silver,M,89 days 12:17:58,12 days 00:48:17
2,ffde4412-810f-4800-a40b-27ad2a614a9e,2021-04-12 12:37:02,Diamond,M,718 days 11:22:58,3 days 10:37:48.360000
3,f118fcc6-061d-4cba-a708-dc2a5c981e2b,2021-03-31 08:41:49,Black,F,730 days 15:18:11,2 days 08:34:47.451612903
4,1b9c05d6-f6da-43e1-8a0b-c72bcf8a5eff,2022-09-14 07:24:17,Diamond,M,198 days 16:35:43,7 days 19:04:23.250000
...,...,...,...,...,...,...
995,b13179ad-3664-474a-a8cb-d0eab61213ed,2022-04-19 19:20:59,Basic,F,346 days 04:39:01,NaT
996,15812814-0cf7-4a0e-808d-6a1defc3e4cc,2021-04-24 07:14:14,Basic,F,706 days 16:45:46,NaT
997,59f2e38b-8afc-4492-a1d9-607af226bbe0,2022-12-13 09:57:31,Basic,F,108 days 14:02:29,1 days 19:23:45
998,b00238dc-12d4-4309-b639-6eb7b86345b7,2022-04-19 19:20:59,Basic,F,346 days 04:39:01,NaT
999,0b826949-4772-4de9-8144-1d9beceb7481,2021-04-22 13:54:06,Basic,F,708 days 10:05:54,NaT

Some people haven't ordered more than once and as such have no `avg_interval`. I decide to impute them with the corresponding mean `avg_interval` of their `user_tier_level` and `user_gender` since there is a quite significant difference between them.

In [701]:
(df_user
 .groupby(['user_tier_level', 'user_gender'])
 .agg({'avg_trx_interval': ['mean']})
#  .reset_index()
#  .droplevel(1, axis=1)
 )

                                      avg_trx_interval
                                                  mean
user_tier_level user_gender
Basic           F           25 days 17:11:52.681799490
                M           26 days 10:20:46.549568439
Silver          F           22 days 17:18:38.618533763
                M           20 days 23:22:01.297522517
Gold            F           16 days 16:02:35.173082028
                M           23 days 06:22:46.117830025
Diamond         F           12 days 13:17:00.893463244
                M            8 days 11:27:57.925316467
Black           F            2 days 08:34:47.451612903
                M            6 days 09:09:24.968542568

In [702]:
df_user = (df_user
           .merge((df_user
                   .groupby(['user_tier_level', 'user_gender'])
                   .agg({'avg_trx_interval': ['mean']})
                   .reset_index()
                   .droplevel(1, axis=1)),
                  on=['user_tier_level', 'user_gender'],
                  suffixes=['','_mean'],
                  )
           .assign(avg_trx_interval=lambda x: (
                   x['avg_trx_interval']
                   .fillna(x['avg_trx_interval_mean'])
                   ))
           .drop('avg_trx_interval_mean', axis=1)
           )

df_user

,user_id,user_created_at,user_tier_level,user_gender,time_since_created,avg_trx_interval
0,db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2021-05-13 07:41:27,Gold,F,687 days 16:18:33,7 days 18:28:29.375000
1,03fb92e2-5a88-4461-82d6-b457b61fea64,2021-04-28 07:21:38,Gold,F,702 days 16:38:22,23 days 08:56:19.333333333
2,a0e1b99e-a65a-429d-981d-0c507fc49eee,2021-04-07 08:32:46,Gold,F,723 days 15:27:14,5 days 19:12:40.133333333
3,d390573f-f3e1-40f7-b6bb-f04405fa0e72,2022-02-20 04:58:38,Gold,F,404 days 19:01:22,2 days 22:28:54.400000
4,2ffd0dbf-cbdf-4b8a-9ab0-4c8414a73ebd,2022-07-16 02:56:11,Gold,F,258 days 21:03:49,4 days 22:56:06.750000
...,...,...,...,...,...,...
995,a608ec05-2770-479e-830c-00c1b66d2361,2021-10-06 09:26:37,Basic,M,541 days 14:33:23,26 days 10:20:46.549568439
996,e9dbac1a-68bc-413c-8130-852fba855d92,2021-10-24 05:36:36,Basic,M,523 days 18:23:24,26 days 10:20:46.549568439
997,fa2b2ff7-f9f3-4705-9e02-a8e0760a74f5,2021-03-29 02:55:11,Black,M,732 days 21:04:49,1 days 03:52:06.038961038
998,1b8b50e6-ff58-4e49-a1df-9dda976a0c18,2021-03-29 03:36:37,Black,M,732 days 20:23:23,2 days 18:52:27.266666666
999,4860963a-5798-464c-8365-f98bd75e033b,2021-03-30 08:49:35,Black,M,731 days 15:10:25,15 days 04:43:41.600000

#### 2. `df_rating`

How many times the user ordered the menu? I define `rating` := **sum of `quantity` of each `menu_id`**.

The idea is that if the user ordered a lot, it means that the user likes the menu.

If it has been a long time since the user ordered the menu, it means that the user doesn't like the menu and we will not recommend the menu to the user.

We will also assign the negative of the rating to indicate that the user doesn't like the menu. A user is said not to like a menu if it has been more than their average interval time since the last time they ordered the menu.

In [703]:
df_rating = (
      df_bridge
      .merge(df_user, on='user_id')
      .merge(df_sales, on='sales_id')
      .groupby(['user_id', 'menu_id'])
      .agg({'quantity': 'sum',
            # Time since last order
            'trx_date_detail': lambda x: NOW - x.max()})
      .reset_index()
      .merge(df_user, on='user_id')
      .assign(
            rating=(
                  # Do for each user
                  lambda x: x.apply(
                        lambda y: (
                              y['quantity']
                              # Time since last purchase is short
                              if y['trx_date_detail']<y['avg_trx_interval']
                              # or quantity is more than 1
                                    or y['quantity']>1
                              else -y['quantity']
                              ),
                        axis=1
                        )
                  )
            )
      .loc[:, ['user_id', 'menu_id', 'rating']]
      )

df_rating

,user_id,menu_id,rating
0,00b158ed-0fcb-48e1-b627-2bb572a344cf,04891c2e-96a9-4a6f-9e73-f810087eea54,-1.0
1,00b158ed-0fcb-48e1-b627-2bb572a344cf,0cbbe21a-1dd1-470b-b4f9-e41cf62d17c7,-1.0
2,00b158ed-0fcb-48e1-b627-2bb572a344cf,16d7a8e4-1455-4e99-a84c-c82c10aa8e61,8.0
3,00b158ed-0fcb-48e1-b627-2bb572a344cf,2226b630-4dcb-468e-9623-ce3973c4bbe6,-1.0
4,00b158ed-0fcb-48e1-b627-2bb572a344cf,3f90bafe-9cc0-41c6-b11b-ce0067bfda38,3.0
...,...,...,...
17932,ffde4412-810f-4800-a40b-27ad2a614a9e,e161161e-746d-44cc-a016-68aa3f18e8ae,2.0
17933,ffde4412-810f-4800-a40b-27ad2a614a9e,e80a5733-7f88-40d9-afbe-2ed52bf2c18a,-1.0
17934,ffde4412-810f-4800-a40b-27ad2a614a9e,e85a0bea-af1e-4b08-b898-1ec38992f475,-1.0
17935,ffde4412-810f-4800-a40b-27ad2a614a9e,eca07b1d-ed53-4954-b2ee-773534de5f36,-1.0
17936,ffde4412-810f-4800-a40b-27ad2a614a9e,f383cbb8-a20d-4c8e-bdf7-da0af17c7b9b,-1.0

### Menu centric

On top of user-centric features, we need to consider menu-centric features. This will enable us to see if a menu is (not) liked in general.

Several features:
1. Time since last order
2. Average time between sales

#### 1. `last_sold`

In [704]:
df_menu = (
    df_menu.merge(
        df_sales
        .merge(
            df_bridge[['sales_id','menu_id']].drop_duplicates(),
            on='sales_id',
            how='left',
            )
        .groupby(['menu_id'])
        .agg({'trx_date_detail': lambda x: NOW - x.max()})
        .reset_index()
        .rename(columns={'trx_date_detail': 'last_sold'}),
        on='menu_id',
        )
    )

df_menu

,menu_id,concept,brand,menu_category,menu_category_detail,menu_name,last_sold
0,5204e17e-aefb-4235-8eb8-7177a5679352,Lifestyle,A/A,FOOD,APPETIZER,french fries,14 days 04:41:53
1,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,monkey shoulder_double,86 days 03:33:14
2,cfa23fc2-c4ab-4377-b0fe-489493016af1,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,lagavulin 16 yo (glass),86 days 03:33:14
3,9708a976-0852-4705-a619-359447db7b09,Lifestyle,A/A,LIQUEUR,COCKTAIL,lemon drop,86 days 03:33:14
4,5aca9660-a702-4590-82dd-4c3666204fb8,Lifestyle,A/A,LIQUEUR,COCKTAIL,ginger,55 days 03:02:34
...,...,...,...,...,...,...,...
2010,c2d230aa-c166-4582-8bf5-55cc071d1374,Resto,Tokyo Belly,BEVERAGE,BLENDED,strawberry chocomint,88 days 06:03:24
2011,4f2eac99-d67c-48a6-8ec1-b1569660dd78,Resto,TPC,BEVERAGE,TEA & COFFEE,jasmine,89 days 11:32:15
2012,d8df4556-a2c9-4882-9ccb-86f82d119b0d,Resto,TPC,FOOD,MAIN,sate taichan gemoy (15 pcs),3 days 13:31:47
2013,847ba680-cb8d-4003-8273-f9f512722880,Resto,Djournal,BEVERAGE,BLENDED,reg milk spiced biscoff,89 days 05:45:18
2014,6b78be91-4986-42c0-aa54-b7f01a056842,Resto,TPC,FOOD,FOOD PROMO,tempe goreng pwp,3 days 10:25:59

#### 2. `avg_sales_interval`

In [705]:
df_sales_interval = (
    df_sales
    .merge(
        df_bridge[['sales_id','menu_id']].drop_duplicates(),
        on='sales_id',
        how='left',
        )
    .sort_values(['menu_id','trx_date_detail'])
    .assign(
        # Calculate the interval between transactions
        avg_sales_interval=lambda x: x.groupby('menu_id')['trx_date_detail'].diff(),
        )
    .groupby('menu_id')
    .agg({'avg_sales_interval': ['mean']})
    .droplevel(1, axis=1)
    .reset_index()
    )

# For idempotency
if 'avg_sales_interval' in df_menu.columns:
    df_menu = df_menu.drop(columns='avg_interval')

df_menu = df_menu.merge(df_sales_interval, on='menu_id')
df_menu

,menu_id,concept,brand,menu_category,menu_category_detail,menu_name,last_sold,avg_sales_interval
0,5204e17e-aefb-4235-8eb8-7177a5679352,Lifestyle,A/A,FOOD,APPETIZER,french fries,14 days 04:41:53,71 days 22:51:21
1,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,monkey shoulder_double,86 days 03:33:14,NaT
2,cfa23fc2-c4ab-4377-b0fe-489493016af1,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,lagavulin 16 yo (glass),86 days 03:33:14,NaT
3,9708a976-0852-4705-a619-359447db7b09,Lifestyle,A/A,LIQUEUR,COCKTAIL,lemon drop,86 days 03:33:14,NaT
4,5aca9660-a702-4590-82dd-4c3666204fb8,Lifestyle,A/A,LIQUEUR,COCKTAIL,ginger,55 days 03:02:34,5 days 04:05:06.666666666
...,...,...,...,...,...,...,...,...
2010,c2d230aa-c166-4582-8bf5-55cc071d1374,Resto,Tokyo Belly,BEVERAGE,BLENDED,strawberry chocomint,88 days 06:03:24,NaT
2011,4f2eac99-d67c-48a6-8ec1-b1569660dd78,Resto,TPC,BEVERAGE,TEA & COFFEE,jasmine,89 days 11:32:15,NaT
2012,d8df4556-a2c9-4882-9ccb-86f82d119b0d,Resto,TPC,FOOD,MAIN,sate taichan gemoy (15 pcs),3 days 13:31:47,NaT
2013,847ba680-cb8d-4003-8273-f9f512722880,Resto,Djournal,BEVERAGE,BLENDED,reg milk spiced biscoff,89 days 05:45:18,NaT
2014,6b78be91-4986-42c0-aa54-b7f01a056842,Resto,TPC,FOOD,FOOD PROMO,tempe goreng pwp,3 days 10:25:59,NaT

Impute with average sales by brand.

In [706]:
(df_menu
 .groupby(['brand'])
 .agg({'avg_sales_interval': ['mean']})
#  .reset_index()
#  .droplevel(1, axis=1)
 )

                        avg_sales_interval
                                      mean
brand
A/A             16 days 18:16:30.028860028
DF Kitchen         20 days 23:39:54.150000
Djournal        10 days 20:49:16.092296488
Djournal House  16 days 07:02:24.376666666
Kitchenette      9 days 10:34:28.725384164
Manarai          8 days 22:53:40.363425925
Mr Fox          18 days 09:51:23.325841409
Osteria GIA     10 days 02:16:40.226801852
Pizza E Birra   14 days 08:46:38.655408842
Publik Markette 20 days 23:59:20.577286188
Skye            14 days 02:36:15.600944091
Social Garden   11 days 17:03:26.247661611
Social House    11 days 11:36:25.701197950
Sushi Groove    30 days 09:28:38.583333333
TPC              7 days 17:19:36.438701613
Tokyo Belly     12 days 13:13:49.568100614

In [707]:
df_menu = (df_menu
           .merge((df_menu
                   .groupby(['brand'])
                   .agg({'avg_sales_interval': ['mean']})
                   .reset_index()
                   .droplevel(1, axis=1)),
                  on=['brand'],
                  suffixes=['','_mean'],
                  )
           .assign(avg_sales_interval=lambda x: (
                   x['avg_sales_interval']
                   .fillna(x['avg_sales_interval_mean'])
                   ))
           .drop('avg_sales_interval_mean', axis=1)
           )

df_menu

,menu_id,concept,brand,menu_category,menu_category_detail,menu_name,last_sold,avg_sales_interval
0,5204e17e-aefb-4235-8eb8-7177a5679352,Lifestyle,A/A,FOOD,APPETIZER,french fries,14 days 04:41:53,71 days 22:51:21
1,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,monkey shoulder_double,86 days 03:33:14,16 days 18:16:30.028860028
2,cfa23fc2-c4ab-4377-b0fe-489493016af1,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,lagavulin 16 yo (glass),86 days 03:33:14,16 days 18:16:30.028860028
3,9708a976-0852-4705-a619-359447db7b09,Lifestyle,A/A,LIQUEUR,COCKTAIL,lemon drop,86 days 03:33:14,16 days 18:16:30.028860028
4,5aca9660-a702-4590-82dd-4c3666204fb8,Lifestyle,A/A,LIQUEUR,COCKTAIL,ginger,55 days 03:02:34,5 days 04:05:06.666666666
...,...,...,...,...,...,...,...,...
2010,85d91c3d-f2bb-4a1f-8cc4-b84352fc153a,Resto,Djournal House,FOOD,SOUP & SALAD,chicken sesame salad,54 days 06:26:21,6 days 23:26:18.800000
2011,d514f3e5-f9b1-46ff-9b47-fce239798e9a,Resto,Djournal House,BEVERAGE,WATER & SOFT DRINKS,aqua sparkling,89 days 03:37:55,16 days 07:02:24.376666666
2012,b49d2d3c-5182-4e7d-a54b-381a79e49eb6,Resto,Djournal House,BEVERAGE,TEA & COFFEE,earl grey,45 days 14:44:49,16 days 07:02:24.376666666
2013,78c8bb3b-d54c-474b-b04b-d66f42b9036e,Resto,Djournal House,BEVERAGE,TEA & COFFEE,hot premium tea,45 days 14:44:49,16 days 07:02:24.376666666
2014,61bfd799-7092-4af8-b1bd-de962b4ea0dd,Resto,Djournal House,FOOD,MAIN,beef yakiniku rice bowl,45 days 14:44:49,16 days 07:02:24.376666666

### Menu Grouping [WIP]

This should be done per category.

In [708]:
# from fuzzywuzzy import fuzz
# from itertools import product

In [709]:
# df_menu['menu_category'].unique()

In [710]:
# dfs_menu_distance = dict()

# for category in df_menu['menu_category'].unique():
#     dfs_menu_distance[category] = (
#         pd.DataFrame(product(
#             df_menu.query('menu_category == @category')['menu_id'],
#             repeat=2,
#             ))
#         .merge(df_menu[['menu_id','menu_name']], left_on=0, right_on='menu_id')
#         .merge(df_menu[['menu_id','menu_name']], left_on=1, right_on='menu_id')
#         .assign(distance=lambda x:
#             100-x.apply(
#                 lambda y: fuzz.ratio(y['menu_name_x'],y['menu_name_y']),
#                 axis=1
#                 )
#             )
#         .pivot(index='menu_id_x', columns='menu_id_y', values='distance')
#         .sort_index(axis=0)
#         .sort_index(axis=1)
#         )

In [711]:
# from sklearn.cluster import HDBSCAN

# hdbs = dict()

# hyperparams = {
#     'FOOD': {
#         'min_cluster_size': 5,
#         'metric': 'precomputed',
#         },
#     'LIQUEUR': {
#         'min_cluster_size': 5,
#         'metric': 'precomputed',
#         },
#     'BEVERAGE': {
#         'min_cluster_size': 5,
#         'metric': 'precomputed',
#         },
#     'BEER': {
#         'min_cluster_size': 5,
#         'metric': 'precomputed',
#         },
#     'CIGARETTE': {
#         'min_cluster_size': 5,
#         'metric': 'precomputed',
#         },
#     'WINE': {
#         'min_cluster_size': 5,
#         'metric': 'precomputed',
#         },
# }

# for category, df_menu_distance in dfs_menu_distance.items():
#     X = df_menu_distance.to_numpy()

#     hdbs[category] = HDBSCAN(**hyperparams[category])

#     if 'menu_name_category' in df_menu.columns:
#         df_menu = df_menu.drop(columns=['menu_name_category'])
    
#     # df_menu['menu_name_category'] = hdbs[category].fit_predict(X)

In [712]:
# df_menu['menu_name_category'].value_counts()

In [713]:
# df_menu.query('menu_name_category == 7')

# Modeling

My idea is to use content-based filtering. As such, we will need to create two dataframes. One for user and one for menu.

In [714]:
user_cols = [
    'user_id',
    'user_tier_level',
    'user_gender',
    'time_since_created',
    'avg_trx_interval',
    ]

df_user_modeling = (df_user
 .loc[:, user_cols]
 .set_index('user_id')
 .assign(
     user_gender_M=lambda x: x['user_gender'].map({'M': 1, 'F': 0}),
     user_tier_level=lambda x: x['user_tier_level'].cat.codes,
     time_since_created=lambda x: x['time_since_created'] / pd.to_timedelta(1, unit='W'),
     avg_trx_interval=lambda x: x['avg_trx_interval'] / pd.to_timedelta(1, unit='W'),
     )
 .drop('user_gender', axis=1)
 )

df_user_modeling

,user_tier_level,time_since_created,avg_trx_interval,user_gender_M
user_id,,,,
db0df3a5-2d00-4fed-93b1-99ea1eedccd8,2,98.239936,1.109969,0
03fb92e2-5a88-4461-82d6-b457b61fea64,2,100.384759,3.338921,0
a0e1b99e-a65a-429d-981d-0c507fc49eee,2,103.377702,0.828638,0
d390573f-f3e1-40f7-b6bb-f04405fa0e72,2,57.827517,0.419534,0
2ffd0dbf-cbdf-4b8a-9ab0-4c8414a73ebd,2,36.982521,0.707948,0
...,...,...,...,...
a608ec05-2770-479e-830c-00c1b66d2361,0,77.372359,3.775871,1
e9dbac1a-68bc-413c-8130-852fba855d92,0,74.823750,3.775871,1
fa2b2ff7-f9f3-4705-9e02-a8e0760a74f5,4,104.696906,0.165883,1
1b8b50e6-ff58-4e49-a1df-9dda976a0c18,4,104.692796,0.398061,1
4860963a-5798-464c-8365-f98bd75e033b,4,104.518891,2.171001,1

In [715]:
menu_cols = [
    'menu_id',
    'brand',
    'menu_category',
    'menu_category_detail',
    # 'menu_name',
    'last_sold',
    'avg_sales_interval',
]

df_menu_modeling = (pd.get_dummies(
    df_menu
    .loc[:, menu_cols]
    .set_index('menu_id')
    )
    .assign(
        last_sold=lambda x: x['last_sold'] / pd.to_timedelta(1, unit='W'),
        avg_sales_interval=lambda x: x['avg_sales_interval'] / pd.to_timedelta(1, unit='W'),
        )
 )

df_menu_modeling

,last_sold,avg_sales_interval,brand_A/A,brand_DF Kitchen,brand_Djournal,brand_Djournal House,brand_Kitchenette,brand_Manarai,brand_Mr Fox,brand_Osteria GIA,...,menu_category_detail_SET MENU,menu_category_detail_SIDE DISH,menu_category_detail_SOUP & SALAD,menu_category_detail_SPECIAL MENU,menu_category_detail_SPIRIT PROMO,menu_category_detail_TEA & COFFEE,menu_category_detail_WATER & SOFT DRINKS,menu_category_detail_WHISK(E)Y,menu_category_detail_WINE,menu_category_detail_WINE PROMO
menu_id,,,,,,,,,,,,,,,,,,,,,
5204e17e-aefb-4235-8eb8-7177a5679352,2.027965,10.278904,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
f026874c-5a66-4184-8ce0-9aeb9e37b5ac,12.306868,2.394494,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
cfa23fc2-c4ab-4377-b0fe-489493016af1,12.306868,2.394494,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9708a976-0852-4705-a619-359447db7b09,12.306868,2.394494,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5aca9660-a702-4590-82dd-4c3666204fb8,7.875255,0.738602,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85d91c3d-f2bb-4a1f-8cc4-b84352fc153a,7.752614,0.996658,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
d514f3e5-f9b1-46ff-9b47-fce239798e9a,12.735904,2.327620,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
b49d2d3c-5182-4e7d-a54b-381a79e49eb6,6.516351,2.327620,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
78c8bb3b-d54c-474b-b04b-d66f42b9036e,6.516351,2.327620,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
61bfd799-7092-4af8-b1bd-de962b4ea0dd,6.516351,2.327620,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [727]:
from sklearn.model_selection import train_test_split

input_user = (
    df_rating
    .set_index('user_id')
    .join(df_user_modeling)
    .drop(columns=['menu_id', 'rating'])
    .to_numpy()
    )

input_menu = (
    df_rating
    .set_index('menu_id')
    .join(df_menu_modeling)
    .drop(columns=['user_id', 'rating'])
    .to_numpy()
    )

y = df_rating['rating'].to_numpy()

(user_train, user_test,
 menu_train, menu_test,
 y_train, y_test) = train_test_split(input_user,
                                     input_menu,
                                     y,
                                     test_size=0.2,
                                     random_state=42)

In [740]:
import tensorflow as tf
from tensorflow import keras

num_outputs = 32
tf.random.set_seed(42)

num_user_features = input_user.shape[1]
num_menu_features = input_menu.shape[1]

user_NN = tf.keras.models.Sequential([     
    keras.layers.Dense(256, activation='relu'),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dense(num_outputs),  
])

menu_NN = tf.keras.models.Sequential([     
    keras.layers.Dense(256, activation='relu'),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dense(num_outputs),  
])

# create the user input and point to the base network
input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
# vu = tf.linalg.l2_normalize(vu, axis=1)

# create the menu input and point to the base network
input_menu = tf.keras.layers.Input(shape=(num_menu_features))
vm = menu_NN(input_menu)
# vm = tf.linalg.l2_normalize(vm, axis=1)

# compute the dot product of the two vectors vu and vm
output = tf.keras.layers.Dot(axes=1)([vu, vm])

# specify the inputs and output of the model
model = tf.keras.Model([input_user, input_menu], output)

model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_3 (InputLayer)           [(None, 4)]          0           []

 input_4 (InputLayer)           [(None, 58)]         0           []

 sequential_2 (Sequential)      (None, 32)           38304       ['input_3[0][0]']

 sequential_3 (Sequential)      (None, 32)           52128       ['input_4[0][0]']

 dot_1 (Dot)                    (None, 1)            0           ['sequential_2[0][0]',
                                                                  'sequential_3[0][0]']

==================================================================================================
Total params: 90,432
Trainable params: 90,432
Non-trainable params: 0
__________________________________________________________________________________________________

In [742]:
cost_fn = tf.keras.losses.Huber()
model.compile(optimizer='adam',
              loss=cost_fn)

model.fit([user_train, menu_train], y_train, epochs=30)

Epoch 1/30
449/449 [==============================] - 2s 2ms/step - loss: 1.1344
Epoch 2/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1320
Epoch 3/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1309
Epoch 4/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1285
Epoch 5/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1278
Epoch 6/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1268
Epoch 7/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1262
Epoch 8/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1258
Epoch 9/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1263
Epoch 10/30
449/449 [==============================] - 1s 1ms/step - loss: 1.1250
Epoch 11/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1249
Epoch 12/30
449/449 [==============================] - 1s 1ms/step - loss: 1.1244
Epoch 13/30
449/449 [==============================] - 1s 1ms/step - loss: 1.1235
Epoch 14/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1234
Epoch 15/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1235
Epoch 16/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1228
Epoch 17/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1222
Epoch 18/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1223
Epoch 19/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1223
Epoch 20/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1225
Epoch 21/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1221
Epoch 22/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1203
Epoch 23/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1192
Epoch 24/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1196
Epoch 25/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1202
Epoch 26/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1204
Epoch 27/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1209
Epoch 28/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1192
Epoch 29/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1188
Epoch 30/30
449/449 [==============================] - 1s 2ms/step - loss: 1.1179

There's a slight overfit but I will keep it. Will be updated if I find a better model.

In [743]:
model.evaluate([user_test, menu_test], y_test)

113/113 [==============================] - 0s 1ms/step - loss: 1.1383

1.1382519006729126

In [792]:
df_menu_modeling.index

Index(['5204e17e-aefb-4235-8eb8-7177a5679352',
       'f026874c-5a66-4184-8ce0-9aeb9e37b5ac',
       'cfa23fc2-c4ab-4377-b0fe-489493016af1',
       '9708a976-0852-4705-a619-359447db7b09',
       '5aca9660-a702-4590-82dd-4c3666204fb8',
       'cb455155-3fd2-4000-8805-38ff4f4b56bc',
       '9d1552e3-a96e-434c-b02a-4f2209314588',
       '699e445c-c077-4831-b46b-869bd8a610ec',
       'e80a5733-7f88-40d9-afbe-2ed52bf2c18a',
       '7ab83790-94e7-4971-8b13-e32b38746514',
       ...
       '5f99e2aa-0153-4797-ac31-9d4f3d1c65aa',
       '843511af-2d00-43a3-8c38-841249b31218',
       '391ee248-93ae-457f-b987-555d12f61124',
       'bb531de9-cf83-480d-94f6-2318705c6016',
       '478dd253-c1a1-4f52-a429-c3b128f884bd',
       '85d91c3d-f2bb-4a1f-8cc4-b84352fc153a',
       'd514f3e5-f9b1-46ff-9b47-fce239798e9a',
       'b49d2d3c-5182-4e7d-a54b-381a79e49eb6',
       '78c8bb3b-d54c-474b-b04b-d66f42b9036e',
       '61bfd799-7092-4af8-b1bd-de962b4ea0dd'],
      dtype='object', name='menu_id', length=2015)

In [766]:
from itertools import product

df_user_menu_id = pd.DataFrame(
    product(df_user_modeling.index, df_menu_modeling.index),
    columns=['user_id', 'menu_id'],
    )

final_input_user = (
    df_user_menu_id
    .merge(df_user_modeling, on='user_id')
    .iloc[:,2:]
    .to_numpy()
    )

final_input_menu = (
    df_user_menu_id
    .merge(df_menu_modeling, on='menu_id')
    .iloc[:,2:]
    .to_numpy()
    )

y_pred = model.predict([final_input_user, final_input_menu])

62969/62969 [==============================] - 64s 1ms/step

In [772]:
y_pred

array([[-0.38839123],
       [-0.38839123],
       [-0.38839123],
       ...,
       [-0.31166348],
       [-0.31166348],
       [-0.31166348]], dtype=float32)

In [804]:
df_predicted = (
    pd.concat(
        [df_user_menu_id, pd.DataFrame(y_pred, columns=['rating'])],
        axis=1,
        )
    .sort_values(by=['user_id', 'rating'], ascending=False)
    .query('rating > 0')
    )

df_predicted

,user_id,menu_id,rating
1694615,ff39dbcb-4414-45b3-8fa0-92577d1c78b8,5204e17e-aefb-4235-8eb8-7177a5679352,0.788603
1694616,ff39dbcb-4414-45b3-8fa0-92577d1c78b8,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,0.788603
1694617,ff39dbcb-4414-45b3-8fa0-92577d1c78b8,cfa23fc2-c4ab-4377-b0fe-489493016af1,0.788603
1694618,ff39dbcb-4414-45b3-8fa0-92577d1c78b8,9708a976-0852-4705-a619-359447db7b09,0.788603
1694619,ff39dbcb-4414-45b3-8fa0-92577d1c78b8,5aca9660-a702-4590-82dd-4c3666204fb8,0.788603
...,...,...,...
1001450,0522344f-d086-4d53-9032-09391272fe82,85d91c3d-f2bb-4a1f-8cc4-b84352fc153a,0.043336
1001451,0522344f-d086-4d53-9032-09391272fe82,d514f3e5-f9b1-46ff-9b47-fce239798e9a,0.043336
1001452,0522344f-d086-4d53-9032-09391272fe82,b49d2d3c-5182-4e7d-a54b-381a79e49eb6,0.043336
1001453,0522344f-d086-4d53-9032-09391272fe82,78c8bb3b-d54c-474b-b04b-d66f42b9036e,0.043336
1001454,0522344f-d086-4d53-9032-09391272fe82,61bfd799-7092-4af8-b1bd-de962b4ea0dd,0.043336

# Dump

In [667]:
df_menu.query('menu_category_detail == "PASTRY & SANDWICH"')

,menu_id,concept,brand,menu_category,menu_category_detail,menu_name,last_sold,avg_sales_interval
93,3d4eb5b0-e033-42e8-95cb-979e01baee16,Resto,Djournal,FOOD,PASTRY & SANDWICH,baileys chocolate naked cake,1 days 04:16:39,2 days 12:35:57.857142857
107,d86db027-0b56-4e20-96f4-1fe6aea211c0,Resto,Djournal,FOOD,PASTRY & SANDWICH,cheesy beef pie,0 days 13:01:52,2 days 08:12:27.763157894
120,61efba81-9c51-42cc-ac85-59c222431ed5,Resto,Djournal,FOOD,PASTRY & SANDWICH,nastar cheese cake,3 days 03:37:23,2 days 14:45:50.363636363
124,c16f8773-0adc-4e9f-9ee4-b131f837387c,Resto,Djournal,FOOD,PASTRY & SANDWICH,almond croissant,0 days 05:27:08,2 days 18:52:08.750000
125,e21b61dd-d00b-4c48-bd98-f13aa08e3eff,Resto,Djournal,FOOD,PASTRY & SANDWICH,mac & cheese pie,0 days 13:01:20,2 days 18:46:52.687500
131,203ccfa6-58e2-4840-88ee-92a614fc2213,Resto,Djournal,FOOD,PASTRY & SANDWICH,oreo cheese millie crepes,1 days 04:16:39,4 days 21:40:12.444444444
136,19b9e708-8550-4a40-a9ab-1d2b21857a87,Resto,Djournal,FOOD,PASTRY & SANDWICH,nutella croissant,0 days 11:06:27,3 days 01:34:04.103448275
172,5d958e56-8553-4077-87e4-d6de23b54986,Resto,Djournal,FOOD,PASTRY & SANDWICH,roast chicken tomato sandwich,16 days 12:54:32,12 days 15:53:46
176,fe7496ad-0739-4516-9b6e-82878ae9fe54,Resto,Djournal,FOOD,PASTRY & SANDWICH,red velvet naked cake,3 days 03:37:23,4 days 07:43:06.950000
179,96a60fad-0485-4b10-8b4e-3068a3452374,Resto,Djournal,FOOD,PASTRY & SANDWICH,hazelnut chocochip pie,6 days 02:57:21,6 days 22:34:34.916666666
184,c7d5c1e2-6c93-486d-a2d6-5f18a93b863f,Resto,Djournal,FOOD,PASTRY & SANDWICH,chicken rendang pie,14 days 08:20:28,5 days 18:28:38.384615384
189,3069f07f-7d55-434f-9c5b-cdde6d56a503,Resto,Djournal,FOOD,PASTRY & SANDWICH,peanut butter muffin,0 days 02:35:18,3 days 04:34:23.714285714
191,cf18f189-1ed6-4f06-a415-455ee5e2b283,Resto,Djournal,FOOD,PASTRY & SANDWICH,banana nutella mille crepes,1 days 05:13:00,3 days 00:57:59.448275862
200,410a2cff-3357-4684-bc99-427c35c7938f,Resto,Djournal,FOOD,PASTRY & SANDWICH,banana muffin,0 days 05:27:08,5 days 03:00:33.529411764
202,df40e35f-b34a-42e5-a97e-209dc352bd01,Resto,Djournal,FOOD,PASTRY & SANDWICH,quiche croissant,37 days 04:47:00,3 days 06:31:46.500000
203,80c3e718-3f6c-4d07-a9d5-38ae25288de6,Resto,Djournal,FOOD,PASTRY & SANDWICH,double choco muffin,3 days 03:37:23,3 days 17:56:00.913043478
208,d3229902-00c9-49f8-bcd2-f94483c8e510,Resto,Djournal,FOOD,PASTRY & SANDWICH,red velvet croissant,0 days 13:01:20,7 days 09:46:25.833333333
213,4914e305-8bdd-4891-a197-2c169e65e8c0,Resto,Djournal,FOOD,PASTRY & SANDWICH,butter croissant,4 days 06:20:54,4 days 17:33:12
214,80cbef6a-e518-4759-bf3e-757cafc4a606,Resto,Djournal,FOOD,PASTRY & SANDWICH,cheese croissant,7 days 13:37:45,10 days 06:02:57.625000
232,20cc5018-c194-4112-8834-db41ff274910,Resto,Djournal,FOOD,PASTRY & SANDWICH,cheese croissant.,10 days 08:07:18,26 days 08:28:29
233,49eaae6c-b756-4be8-a13d-b9f6b652f11c,Resto,Djournal,FOOD,PASTRY & SANDWICH,bnn choco cheese,13 days 02:32:27,19 days 01:08:57.500000
235,495d7d8e-e5c9-4b32-8315-51feeca7611d,Resto,Djournal,FOOD,PASTRY & SANDWICH,nutella croissant.,89 days 05:41:57,0 days 02:18:45
237,2b07d79b-9ef4-436c-b03b-719b82d50f4a,Resto,Djournal,FOOD,PASTRY & SANDWICH,almond croissant.,81 days 09:17:05,10 days 20:49:16.092296488
242,7d807e04-c75f-4a0f-940b-8f340a43cefc,Resto,Djournal,FOOD,PASTRY & SANDWICH,bnn death by choco,29 days 09:44:28,8 days 13:38:36.571428571
263,829ead25-fbc5-435e-88df-8c23d9c645c5,Resto,Djournal,FOOD,PASTRY & SANDWICH,coconut lemon,48 days 08:32:27,10 days 20:49:16.092296488
281,25566c17-d1d6-4c46-a466-ed4def5b1411,Resto,Djournal,FOOD,PASTRY & SANDWICH,butter croissant.,5 days 03:22:24,38 days 14:49:29.500000
286,18a16a53-a780-4c8f-8714-4a19369c4df8,Resto,Djournal,FOOD,PASTRY & SANDWICH,bnn classic walnut,82 days 07:54:52,10 days 20:49:16.092296488
305,ef707745-723f-45e1-bbc4-7205aae66946,Resto,Djournal,FOOD,PASTRY & SANDWICH,beef pastrami sandwich,56 days 04:54:35,14 days 00:17:39.500000
336,6292299b-9707-4f52-a655-3a14d4ddc571,Resto,Djournal,FOOD,PASTRY & SANDWICH,spanish dark chocolate cake,89 days 03:17:45,10 days 20:49:16.092296488
1974,65488d9b-d522-4497-9d6d-9c9cc8b16c8a,Resto,Djournal House,FOOD,PASTRY & SANDWICH,dark chocolate,89 days 08:18:06,16 days 07:02:24.376666666
1980,cc80d0c8-92b3-431b-8ff9-5a3af39ab136,Resto,Djournal House,FOOD,PASTRY & SANDWICH,optional bun burger,54 days 11:47:06,17 days 13:17:53.500000
1983,012e6360-b461-469e-9847-2fb906338ce7,Resto,Djournal House,FOOD,PASTRY & SANDWICH,burnt cheese cake,40 days 12:31:58,41 days 19:13:40
1985,00e10747-c7bd-4586-ad0d-b751159efa92,Resto,Djournal House,FOOD,PASTRY & SANDWICH,cheesy beef pie,43 days 16:13:15,15 days 07:39:19
1986,9ecc88dc-4441-4676-a689-24b326943fa3,Resto,Djournal House,FOOD,PASTRY & SANDWICH,peanut butter muffin,43 days 16:13:15,16 days 07:02:24.376666666
1994,5ff33749-7afc-4990-87c8-425dd4b4250e,Resto,Djournal House,FOOD,PASTRY & SANDWICH,chicken rendang pie,58 days 09:33:43,16 days 07:02:24.376666666
1995,31062476-75b9-45cb-b813-6854063269d7,Resto,Djournal House,FOOD,PASTRY & SANDWICH,mac & cheese pie,58 days 09:33:43,16 days 07:02:24.376666666
2003,2328f813-cb28-4040-8526-29fa66f99b44,Resto,Djournal House,FOOD,PASTRY & SANDWICH,hazelnut chocochip pie,45 days 14:44:49,43 days 20:21:35

In [668]:
import collections

category_detail_mapper = {'APPETIZERS': 'APPETIZER',
 'APPETIZER': 'APPETIZER',
 'BEER': 'BEER',
 'BEER PROMO': 'BEER PROMO',
 'BEVERAGE PROMO': 'BEVERAGE PROMO',
 'BLENDED': 'BLENDED',
 'CHAMPAGNE': 'CHAMPAGNE',
 'CIGARETTE': 'CIGARETTE',
 'SPECIAL COCKTAIL': 'COCKTAIL',
 'SIGNATURE COCKTAIL': 'COCKTAIL',
 'CLASSIC COCKTAIL': 'COCKTAIL',
 'COCKTAIL BEER': 'COCKTAIL',
 'COGNAC': 'COGNAC',
 'DESSERT': 'DESSERT',
 'CAKE': 'DESSERT',
 'DESSERTS': 'DESSERT',
 'SIGNATURE FLAVOURED': 'DRINKS',
 'BOTTLED DRINKS': 'DRINKS',
 'MILK & CHOCOLATE': 'DRINKS',
 'FOOD PROMO': 'FOOD PROMO',
 'GIN': 'GIN',
 'GRAB N GO': 'SIDE DISH',
 'KIDS MEAL': 'KIDS MEAL',
 'LIQUOR': 'LIQUOR',
 'VODKA': 'LIQUOR',
 'TEQUILA': 'LIQUOR',
 'SAKE & SOJU': 'LIQUOR',
 'APERITIF & DIGESTIF': 'LIQUOR',
 'FREE FLOW GIN & TONIC': 'LIQUOR',
 'LITE BITES': 'SIDE DISH',
 'RICE & NOODLE': 'MAIN',
 'JOSPER GRILL': 'MAIN',
 'TEISHOKU': 'MAIN',
 'ALL DAY BREAKFAST': 'MAIN',
 'PRIME BEEF CUTS': 'MAIN',
 'RICE': 'MAIN',
 'MAIN': 'MAIN',
 'FROM THE WOK': 'MAIN',
 'MAINS': 'MAIN',
 'LAND & SEA': 'MAIN',
 'MOCKTAILS': 'MOCKTAIL & JUICE',
 'MOCKTAIL': 'MOCKTAIL & JUICE',
 'MOCKTAIL & JUICES': 'MOCKTAIL & JUICE',
 'DJAMU DJAMU BY DJOURNAL': 'MOCKTAIL & JUICE',
 'MOCKTAIL & JUICE': 'MOCKTAIL & JUICE',
 'SEJUICEME': 'MOCKTAIL & JUICE',
 'NIGIRI': 'NIGIRI, SUSHI & SASHIMI',
 'PASTA': 'PASTA',
 'PASTRY & SANDWICH': 'PASTRY & SANDWICH',
 'CLASSIC CRUST PIZZA': 'PIZZA',
 'THIN CRUST PIZZA': 'PIZZA',
 'PIZZA': 'PIZZA',
 'NY STYLE GIANT PIZZA': 'PIZZA',
 'RAMEN': 'RAMEN',
 'SIGNATURE BROTH RAMEN': 'RAMEN',
 'CLASSIC TORI PAITAN RAMEN': 'RAMEN',
 'PREMIUM TOKYO BELLY RAMEN': 'RAMEN',
 'DRY RAMEN': 'RAMEN',
 'RUM': 'RUM',
 'SASHIMI': 'NIGIRI, SUSHI & SASHIMI',
 'SET MENU': 'SET MENU',
 'SIDES': 'SIDE DISH',
 'SNACK BAR': 'SIDE DISH',
 'SALAD': 'SOUP & SALAD',
 'SOUP & SALAD': 'SOUP & SALAD',
 'SPECIALS MENU': 'SPECIAL MENU',
 'SPECIAL MENU': 'SPECIAL MENU',
 'SPIRIT PROMO': 'SPIRIT PROMO',
 'SUSHI ROLL': 'NIGIRI, SUSHI & SASHIMI',
 'ESPRESSO BASED': 'TEA & COFFEE',
 'FRESHLY BREWED BY DJOURNAL ': 'TEA & COFFEE',
 'HANDBREWED COFFEE': 'TEA & COFFEE',
 'TEA': 'TEA & COFFEE',
 'KOPI NUSANTARA': 'TEA & COFFEE',
 'BREW AT HOME': 'TEA & COFFEE',
 'FRESHLY BREWED BY DJOURNAL': 'TEA & COFFEE',
 'KOPI BATAVIA BY DJOURNAL': 'TEA & COFFEE',
 'TEA & COFFEE': 'TEA & COFFEE',
 'WATER & SOFT DRINKS': 'WATER & SOFT DRINKS',
 'WATER & SOFTDRINKS': 'WATER & SOFT DRINKS',
 'WATER & SOFTIES': 'WATER & SOFT DRINKS',
 'SINGLE MALT': 'WHISK(E)Y',
 'WHISK(E)Y': 'WHISK(E)Y',
 'WINE': 'WINE',
 'RED WINE': 'WINE',
 'SWEET WINE': 'WINE',
 'WHITE WINE': 'WINE',
 'WINE PROMO': 'WINE PROMO'}

 
keys = list(category_detail_mapper.keys())
values = list(category_detail_mapper.values())
sorted_value_index = np.argsort(values)
sorted_dict = {keys[i]: values[i] for i in sorted_value_index}
print((sorted(set(values))))
sorted_dict

['APPETIZER', 'BEER', 'BEER PROMO', 'BEVERAGE PROMO', 'BLENDED', 'CHAMPAGNE', 'CIGARETTE', 'COCKTAIL', 'COGNAC', 'DESSERT', 'DRINKS', 'FOOD PROMO', 'GIN', 'KIDS MEAL', 'LIQUOR', 'MAIN', 'MOCKTAIL & JUICE', 'NIGIRI, SUSHI & SASHIMI', 'PASTA', 'PASTRY & SANDWICH', 'PIZZA', 'RAMEN', 'RUM', 'SET MENU', 'SIDE DISH', 'SOUP & SALAD', 'SPECIAL MENU', 'SPIRIT PROMO', 'TEA & COFFEE', 'WATER & SOFT DRINKS', 'WHISK(E)Y', 'WINE', 'WINE PROMO']

{'APPETIZERS': 'APPETIZER',
 'APPETIZER': 'APPETIZER',
 'BEER': 'BEER',
 'BEER PROMO': 'BEER PROMO',
 'BEVERAGE PROMO': 'BEVERAGE PROMO',
 'BLENDED': 'BLENDED',
 'CHAMPAGNE': 'CHAMPAGNE',
 'CIGARETTE': 'CIGARETTE',
 'COCKTAIL BEER': 'COCKTAIL',
 'CLASSIC COCKTAIL': 'COCKTAIL',
 'SIGNATURE COCKTAIL': 'COCKTAIL',
 'SPECIAL COCKTAIL': 'COCKTAIL',
 'COGNAC': 'COGNAC',
 'DESSERT': 'DESSERT',
 'CAKE': 'DESSERT',
 'DESSERTS': 'DESSERT',
 'SIGNATURE FLAVOURED': 'DRINKS',
 'BOTTLED DRINKS': 'DRINKS',
 'MILK & CHOCOLATE': 'DRINKS',
 'FOOD PROMO': 'FOOD PROMO',
 'GIN': 'GIN',
 'KIDS MEAL': 'KIDS MEAL',
 'LIQUOR': 'LIQUOR',
 'VODKA': 'LIQUOR',
 'TEQUILA': 'LIQUOR',
 'SAKE & SOJU': 'LIQUOR',
 'APERITIF & DIGESTIF': 'LIQUOR',
 'FREE FLOW GIN & TONIC': 'LIQUOR',
 'RICE & NOODLE': 'MAIN',
 'RICE': 'MAIN',
 'PRIME BEEF CUTS': 'MAIN',
 'ALL DAY BREAKFAST': 'MAIN',
 'MAINS': 'MAIN',
 'JOSPER GRILL': 'MAIN',
 'LAND & SEA': 'MAIN',
 'MAIN': 'MAIN',
 'TEISHOKU': 'MAIN',
 'FROM THE WOK': 'MAIN',
 'SEJUICEME': 'MOCKTAIL & JUICE',
 'MOCKTAIL & JUICE': 'MOCKTAIL & JUICE',
 'MOCKTAIL & JUICES': 'MOCKTAIL & JUICE',
 'DJAMU DJAMU BY DJOURNAL': 'MOCKTAIL & JUICE',
 'MOCKTAILS': 'MOCKTAIL & JUICE',
 'MOCKTAIL': 'MOCKTAIL & JUICE',
 'SASHIMI': 'NIGIRI, SUSHI & SASHIMI',
 'NIGIRI': 'NIGIRI, SUSHI & SASHIMI',
 'SUSHI ROLL': 'NIGIRI, SUSHI & SASHIMI',
 'PASTA': 'PASTA',
 'PASTRY & SANDWICH': 'PASTRY & SANDWICH',
 'NY STYLE GIANT PIZZA': 'PIZZA',
 'CLASSIC CRUST PIZZA': 'PIZZA',
 'THIN CRUST PIZZA': 'PIZZA',
 'PIZZA': 'PIZZA',
 'DRY RAMEN': 'RAMEN',
 'PREMIUM TOKYO BELLY RAMEN': 'RAMEN',
 'RAMEN': 'RAMEN',
 'SIGNATURE BROTH RAMEN': 'RAMEN',
 'CLASSIC TORI PAITAN RAMEN': 'RAMEN',
 'RUM': 'RUM',
 'SET MENU': 'SET MENU',
 'SNACK BAR': 'SIDE DISH',
 'GRAB N GO': 'SIDE DISH',
 'SIDES': 'SIDE DISH',
 'LITE BITES': 'SIDE DISH',
 'SOUP & SALAD': 'SOUP & SALAD',
 'SALAD': 'SOUP & SALAD',
 'SPECIALS MENU': 'SPECIAL MENU',
 'SPECIAL MENU': 'SPECIAL MENU',
 'SPIRIT PROMO': 'SPIRIT PROMO',
 'TEA & COFFEE': 'TEA & COFFEE',
 'FRESHLY BREWED BY DJOURNAL': 'TEA & COFFEE',
 'BREW AT HOME': 'TEA & COFFEE',
 'KOPI NUSANTARA': 'TEA & COFFEE',
 'KOPI BATAVIA BY DJOURNAL': 'TEA & COFFEE',
 'HANDBREWED COFFEE': 'TEA & COFFEE',
 'FRESHLY BREWED BY DJOURNAL ': 'TEA & COFFEE',
 'ESPRESSO BASED': 'TEA & COFFEE',
 'TEA': 'TEA & COFFEE',
 'WATER & SOFT DRINKS': 'WATER & SOFT DRINKS',
 'WATER & SOFTDRINKS': 'WATER & SOFT DRINKS',
 'WATER & SOFTIES': 'WATER & SOFT DRINKS',
 'SINGLE MALT': 'WHISK(E)Y',
 'WHISK(E)Y': 'WHISK(E)Y',
 'WHITE WINE': 'WINE',
 'WINE': 'WINE',
 'RED WINE': 'WINE',
 'SWEET WINE': 'WINE',
 'WINE PROMO': 'WINE PROMO'}

In [23]:
from sklearn.cluster import KMeans

from sklearn.metrics.pairwise import cosine_similarity

In [24]:
brand_pref = (df_bridge
 .merge(df_menu, on='menu_id', how='left')
 .drop_duplicates(subset=['sales_id'])
 .loc[:, ['user_id','brand']]
 .groupby(['user_id', 'brand'])
 .agg({'brand': 'count'})
 .unstack()
 .loc[:, 'brand']
 .to_numpy()
)

brand_weight = np.sqrt((brand_pref**2).sum(axis=1))
brand_pref = brand_pref / brand_weight.reshape(-1, 1)

C:\Users\Jason\AppData\Local\Temp\ipykernel_21768\1698099087.py:13: RuntimeWarning: invalid value encountered in divide
  brand_pref = brand_pref / brand_weight.reshape(-1, 1)

### OTHER IDEA?

In [25]:
df_menu.drop_duplicates(subset=['menu_category_detail'])

,menu_id,concept,brand,menu_category,menu_category_detail,menu_name
0,5204e17e-aefb-4235-8eb8-7177a5679352,Lifestyle,A/A,FOOD,APPETIZERS,french fries
3,f026874c-5a66-4184-8ce0-9aeb9e37b5ac,Lifestyle,A/A,LIQUEUR,WHISK(E)Y,monkey shoulder_double
4,cfa23fc2-c4ab-4377-b0fe-489493016af1,Lifestyle,A/A,LIQUEUR,SINGLE MALT,lagavulin 16 yo (glass)
5,9708a976-0852-4705-a619-359447db7b09,Lifestyle,A/A,LIQUEUR,CLASSIC COCKTAIL,lemon drop
6,5aca9660-a702-4590-82dd-4c3666204fb8,Lifestyle,A/A,LIQUEUR,SIGNATURE COCKTAIL,ginger
...,...,...,...,...,...,...
1916,b567402d-98f8-44c3-8a91-4e08eda3ede1,Resto,Sushi Groove,FOOD,SASHIMI,salmon sashimi large (5 slice)
1956,8a66d84e-568c-4516-a2c9-e9849a3a4060,Resto,Kitchenette,WINE,WINE,calvet reserve merlot cabernet sauvignon (g)
2077,8898aaae-8dba-4eb0-aab5-bdccd5f00f7e,Resto,Pizza E Birra,OTHER,OTHER,billiard
2234,8866e5de-af95-460e-8f22-d287abd06c81,Resto,Pizza E Birra,LIQUEUR,COCKTAIL BEER,man up!
2364,b6e13e18-fe35-4443-a0e3-e0ac2f080ad2,Resto,Sushi Groove,FOOD,NIGIRI,tobiko gunkan

In [26]:
with pd.option_context("display.max_rows", None):
    display(df_bridge
    .query('user_id == "00b158ed-0fcb-48e1-b627-2bb572a344cf"')
    .merge(df_menu, on='menu_id', how='left')
    .groupby(['menu_id','menu_name'])
    .agg({'menu_id': 'count'})
    )

                                                                           menu_id
menu_id                              menu_name
04891c2e-96a9-4a6f-9e73-f810087eea54 soto betawi                                 1
0cbbe21a-1dd1-470b-b4f9-e41cf62d17c7 brownie choco crunch                        1
16d7a8e4-1455-4e99-a84c-c82c10aa8e61 reg milk iced kopsus btv                    7
2226b630-4dcb-468e-9623-ce3973c4bbe6 kwetiau goreng peranakan                    1
3f90bafe-9cc0-41c6-b11b-ce0067bfda38 kurma madu series (second purchase)         3
41249f53-1971-4a78-ad91-067e124b6e4c kopi ube                                    3
4a90d4fc-a042-46db-8893-422e52a221c6 special bundle aqua 1                       1
502f7611-42f5-476e-bca3-bed2b7f6d782 reg milk iced kopi rempah                   3
64889cdd-b105-4aa3-ae72-0aae32558ade nasi goreng tom yum                         1
676fcee3-a2d8-4cbf-8061-5d2b10cecfbc tahu goreng                                 1
6a970278-987f-495e-be03-3262c47b3d80 reg milk kopi ube                           5
75947118-159e-485f-8b7b-6dc264e572b1 12oz                                        1
80a58e33-fc20-4959-abe3-f48d4e4916b7 tongseng ayam                               1
8600d9de-5274-43b7-9e5e-b790379396f0 extra 1 espresso shoot                      4
8a7e4aa1-a72f-4679-a899-070c53628617 baso goreng dadakan 12k/pcs                 1
8cb57315-c1d1-4e49-9772-e12ea48162fb extra 1 espresso shot                       1
948decdd-3bd2-426c-86f9-f6148c2a633d kopi ube                                    1
97b31482-4676-444b-acea-bbae79340024 tongseng sapi                               1
a343bc5c-9ca0-48f1-88b2-b18aa0955a7b reguler milk large                          1
acbee407-b476-4cb9-8aff-8525bc740b4b kwetiau goreng sapi                         1
b46c2d1a-76b6-4d74-8bdc-24b96c78fb10 salted caramel latte                        1
b4a26614-de24-4166-9c9c-a475590ed50e mie nyonya bun                              1
bb679c7e-79cc-46b9-90fe-17afe7e6ad3e reguler milk large                          1
bd43ce4b-cc05-4d09-a352-6397e7e1ca18 nasi goreng gila                            1
beae6a69-a057-4053-bbf2-04cb3c34a9ed kopi rempah                                 1
bee9c394-3a53-4961-855f-f7afd33086d8 iced caramel macchiato                      1
c0f48892-1c60-434d-9e0c-80f467ddd143 brown butter chicken                        2
c482f57f-68ae-4f9b-b1a1-cd4c005279fc kopi susu batavia                           4
cf0af652-d716-47a4-b85c-e2e39c486965 iced shaken espresso latte                  1
d4dfc119-8434-4b9b-8248-928640af6c55 djournal thai tea 12 oz                     1
db17895a-9a32-4d0c-a589-7f256ee35ddf ayam geprek sambal limo                     1
e754435b-9c41-49d1-badd-ba429c601367 aqua 330ml                                  3
f16e2fd5-31f6-46c8-bd04-ac526ed05d45 kopi pandan aren                            2
f807f0a7-2618-4c87-9c24-97f894480f08 tongseng boyolali                           1
faa0000c-d70e-4603-b75b-b9cd8e846934 ayam bejo julid                             2
fb24a49d-bfeb-4a60-8614-2527d76feb41 reg milk pandan aren                        3
fe1bbdc2-15a5-4c95-aa51-079b11ae94a1 special bundle aqua 3                       2